@(rs: churn.models.OverviewResponse, month: String, email: String ,postUrl: Call)(implicit request: RequestHeader)

@import services.domain.CommonService.formatNumber
@import services.domain.CommonService.percent
@import services.domain.CommonService.format3Decimal
@import services.domain.CommonService.formatPattern
@import services.domain.CommonService.getPrevYYYY
@import services.domain.CommonService.getPrevYYYYMM
@import churn.utils.CommonUtil
@import churn.utils.AgeGroupUtil

<!DOCTYPE html>

<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Churn Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
        <link rel="stylesheet" href="/assets/otherLayout/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/owl.carousel.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/owl.theme.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/owl.transitions.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/animate.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/normalize.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/meanmenu.min.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/main.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/educate-custon-icon.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/scrollbar/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/metisMenu/metisMenu.min.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/metisMenu/metisMenu-vertical.css">
        <link rel="stylesheet" href="/assets/otherLayout/style.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/responsive.css">
        <link rel="stylesheet" href="/assets/custom/css/waitMe.css">
        <link rel="stylesheet" href="/assets/custom/css/hover-min.css">
        <link rel="stylesheet" href="/assets/custom/css/select2.min.css">
        <link rel="stylesheet" href="/assets/custom/css/jsTree.css">
        <link rel="stylesheet" href="/assets/custom/css/icheck.css">
            <!-- bootstrap-daterangepicker -->
        <link href="/assets/datepicker/css/bootstrap-datepicker.css" rel="stylesheet">
        <script src="/assets/otherLayout/js/vendor/modernizr-2.8.3.min.js"></script>
        <style>
                .aHeader{
                    font-size: 24px;
                    color: #0df3cf!important;
                    font-weight: 600;
                }
                .comboDiv .mean-last{
                    border-top: none!important;
                }
                .select2-search__field{
                    color: #686262 !important;
                }
                .select2-selection__choice{
                    color: #fff!important;
                    width: auto!important;
                }
                .select2-search--inline{
                    border-top: none!important;
                    background: #fff!important;
                }
                .region .select2-selection__rendered{
                    overflow: auto!important;
                    max-height: 80px!important;
                }
                .listview{
                    color: rgb(52,152,219);
                    padding: 5px 15px 0px 15px!important;
                    font-size: 13px;
                    display: block!important;
                }
                .mean-expand{
                    display: none!important;
                }
                .animation{
                    animation-duration: 5s;
                    animation-delay: 2s;
                    animation-iteration-count: infinite
                }
                .txtFilter{
                    color: #fff; background: #16a085;padding: 2px
                }
                .noData-title{
                    margin-top: 21px;
                    margin-bottom: 13px;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 300;
                    background: #fff;
                    font-size: 30px;
                    color: #f60;
                    padding: 20px;
                }
                .txtInput{
                    text-align: center;cursor: pointer;background-color: #fff!important;height: 35px
                }
                .txtInputMb {
                    text-align: center;cursor: pointer;background-color: #fff!important;height: 20px
                }
                .txtCmt{
                    color: #16a085;
                    max-width: 200px;
                    padding: 0px 10px 0px 10px;
                }
                .activeLi{
                    background: linear-gradient(45deg, #f3822b 0%, #ffca28 100%);
                    font-weight: 600;
                }
                .txtControl{
                    margin-top: 5px;
                    padding: 6px 12px;
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #fff;
                    background-color: #16a085;
                }
                .highcharts-tooltip>span {
                    border: 1px solid silver;
                    border-radius: 3px;
                    box-shadow: 1px 1px 2px #888;
                    z-index: 9999!important;
                }
                .highcharts-credits{display: none}
                .highcharts-contextbutton{display: none}
                .btnRefresh{
                    background: #6c757d;
                    color: #fff!important;
                    margin-right: 5px;
                    float:right
                }
                .lineDivWhite{
                    margin: 0px 0px 10px 0px;
                }
                .lineDivBlack{
                    border: 1px solid #f7f5f5;
                    margin: 10px 0px 10px 0px;
                }
                .date{
                    margin-top: 10px;
                    width: 180px;
                    margin-left: 10px;
                    color: #2A3F54;
                }
                .titFilter{
                    font-size: 18px;
                    color: #16a085;
                    font-weight: 600;
                    margin-left: 10px;
                }
                .selectBox{
                    cursor: pointer;
                    margin-top: 10px;
                    width: 177px;
                    margin-left: 10px;
                    color: #555!important;
                    height: 35px;
                }
                .selectBoxMb{
                    width: 75%;
                    height: 20px;
                    cursor: pointer;
                    margin-top: 10px;
                    width: 177px;
                    margin-left: 10px;
                    color: #555!important;
                }
                .areaXs{
                    margin-left: 10px;width:93%;color: #5A738E
                }
                .filter{
                    padding: 5px 0px 0px 10px;
                    margin: 30px 0px 15px 0px;
                    color: #f90;
                    font-size: 18px;
                    background: #F7F7F7;
                }
                .lineDivXs {
                    margin: 0px 0px 10px 0px;
                    background: white;
                    width: 95%;
                }
                .divMore span{
                    color: #fff;
                    font-size: 13px;
                    font-weight: 100;
                    font-family: Arial;
                }
                .divMore{
                    margin-bottom: 0px;
                    padding: 0px 4px 0px 4px;
                }
                .ddMore a{
                    float: right;
                    padding-right: 11px;
                    cursor: pointer;
                }
                .ddMore a i {
                    color: #fff;
                    font-size: 16px;
                }
                .ddMore{
                    min-width: 390px!important;
                }
                .titBox{
                    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
                    font-size: 14px;
                    color: #0D3349;
                }
                .box-area-active{
                    background: linear-gradient(to left, #4acade, #48af76);
                    color: #fff;
                    height: 149px;
                }
                .box-area-cancel{
                     background: linear-gradient(to left, #ffbf96, #fe7096);
                     color: #fff;
                     height: 149px;
                 }
                .box-area-warning{
                    background: linear-gradient(45deg, #6bbdf7 0%, #ffca28 100%);
                    color: #fff;
                    height: 149px;
                }
                .ibox {
                    float: right;
                    margin-top: 5px;
                    margin-right: 5px;
                }
                .down{
                    color: red;
                }
                .boxCorner{
                    padding: 5px;
                    font-size: 13px;
                    float: right;
                    border-top: 0.5px solid white;
                    border-left: 0.5px solid white;
                }
                .analytics-content{
                    padding: 15px 15px 0px 15px;
                }
                .up{
                    color: #132186;
                }
                .region {
                    overflow: auto!important;
                    max-height: 180px!important;
                }
                .iconTip{
                    position: absolute;
                    font-size: 15px;
                    margin: -4px 0px 0px 2px;
                }
        </style>
    </head>

    <body>
            <!-- Start Left menu area -->
        <div class="left-sidebar-pro">
            <nav id="sidebar" class="">
                <div class="sidebar-header">
                    <a href="/internet/age" class="aHeader"><img class="main-logo" width="38" height="35" src="/assets/images/home.jpg" alt=""> <span class="hvr-pulse">INTERNET</span></a>
                </div>
                <div class="left-custom-menu-adp-wrap comment-scrollbar">
                    <nav class="sidebar-nav left-sidebar-menu-pro divLeft">
                        <div class="col-xs-12 filter"><i class="fa fa-filter"></i> FILTERING </div>
                        <div class="ageDiv" style="padding-top: 15px;margin-bottom: 15px">
                            <p class="titFilter"><i class="fa fa-bell"></i> Group Age</p>
                            <select class="form-control selectBox slAge" multiple="multiple" style="border: 1px solid #16a085!important">
                                @for( (k,v) <- AgeGroupUtil.AGE.toArray.sorted){
                                    <option value="@v">@k</option>
                                }
                            </select>
                        </div>
                        <div class="packageDiv" style="margin-bottom: 15px">
                            <p class="titFilter"><i class="fa fa-bell"></i> Group Package</p>
                            <select class="form-control selectBox slPackage" multiple="multiple" style="border: 1px solid #16a085!important">
                                @for( v <- rs.packages){
                                    <option value="@v">@v</option>
                                }
                            </select>
                        </div>

                        <div class="comboDiv" style="margin-bottom: 15px">
                            <p class="titFilter"><i class="fa fa-bell"></i> Group Combo</p>
                            <ul class="listview">
                                <li>
                                    <label class="radiobutton">
                                        <input name="radio" class="radio" value="int" type="radio">
                                        <span class="label-text"><strong>Internet Only</strong></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="radiobutton">
                                        <input name="radio" class="radio" value="combo" type="radio">
                                        <span class="label-text"><strong>Combo Paytv & Internet</strong></span>
                                    </label>
                                </li>
                            </ul>
                        </div>

                        <div class="regionDiv" style="margin-bottom: 15px">
                            <p class="titFilter"><i class="fa fa-bell"></i> Group Region</p>
                            <div class="region" style="margin-top: 10px;margin-bottom: 20px"></div>
                        </div>
                        <div class="col-xs-12 lineDivBlack"></div>
                        <div style="height: 140px;padding-top: 15px">
                            <span class="titFilter"><i class="fa fa-bell"></i> Group Month</span>
                            <div class="input-group date monthPicker">
                                <input type="text" class="monthGrp form-control txtInput" value="@month" readonly="true" style="background-color:#16a085!important;color: #fff">
                                <span class="input-group-addon" style="background-color: #5A738E!important;"><i class="fa fa-calendar" aria-hidden="true" style="color:white"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 lineDivWhite"></div>
                        <div style="padding:0px 10px">
                            <a class="apply btn btn-xs btn-success" style="float: right;"><i class="fa fa-check-circle"></i> Apply</a>
                            <a class="btn btn-xs btn-secondary btnRefresh"><i class="fa fa-refresh"></i> Refresh</a>
                        </div>
                        <div class="col-xs-12 lineDivBlack"></div>
                    </nav>
                </div>
            </nav>
        </div>
            <!-- End Left menu area -->
            <!-- Start Welcome area -->
        <div class="all-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="logo-pro" style="margin-top: 10px;height: 50px">
                            <a href="/internet/age" class="aHeader"><img class="main-logo" width="38" height="35" src="/assets/images/home.jpg" alt=""> INTERNET</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-advance-area">
                <div class="header-top-area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="header-top-wraper">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuTop" aria-expanded="true" style="color: #4292c6">
                                                <span class="sr-only">Toggle navigation</span>
                                                <i class="fa fa-bars" aria-hidden="true" style="font-size: 26px"></i>
                                            </button>
                                        </div>

                                        <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12 menu-top" id="menuTop">
                                            <div class="header-top-menu tabl-d-n">
                                                <ul class="nav navbar-nav mai-top-nav">
                                                    <li class="nav-item activeLi"><a href="/internet/overview" class="nav-link"><i class="fa fa-picture-o"></i> OVERVIEW</a>
                                                    </li>
                                                    <li class="nav-item"><a href="/internet/age" class="nav-link"><i class="fa fa-user"></i> AGE</a>
                                                    </li>
                                                    <li class="nav-item"><a href="/internet/region" class="nav-link"><i class="fa fa-map-marker"></i> REGION</a>
                                                    </li>
                                                    <li class="nav-item"><a href="/internet/calllog" class="nav-link"><i class="fa fa-bug"></i> CALLLOG</a>
                                                    </li>
                                                    <li class="nav-item"><a href="/internet/checklist" class="nav-link"><i class="fa fa-building"></i> CHECKLIST</a>
                                                    </li>
                                                    <li class="nav-item"><a href="/internet/detect" class="nav-link"><i class="fa fa-exclamation-triangle"></i> DETECT PROBLEM</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="header-right-info">
                                                <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                    <li class="nav-item">
                                                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                            <img src="/assets/images/user-default-white.png" alt="">
                                                            <span class="admin-name">@email</span>
                                                            <i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
                                                        </a>
                                                        <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn" style="left: -70px">
                                                            <li><a href="/logout"><i class="fa fa-sign-out pull-right mg-tb-5"></i>Log Out</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Mobile Menu start -->
                <div class="mobile-menu-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul class="mobile-menu-nav">
                                            <div class="disInline">
                                                <div class="col-xs-4" style="height: 70px;padding-top: 15px;">
                                                    <span class="titFilter"><i class="fa fa-bell"></i> Group Month</span></i>
                                                    <div class="input-group date monthPicker">
                                                        <input type="text" class="monthGrp form-control txtInputMb" value="@month" readonly="true" style="background-color:#16a085!important;color: #fff">
                                                        <span class="input-group-addon" style="background-color: #5A738E!important;width: 40px"><i class="fa fa-calendar" aria-hidden="true" style="color:white;margin-left: 25px"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 comboDiv" style="padding-top: 15px">
                                                    <span class="titFilter"><i class="fa fa-bell"></i> Group Combo</span>
                                                    <ul class="listview">
                                                        <li>
                                                            <label class="radiobutton">
                                                                <input name="radio" class="radio" value="int" type="radio">
                                                                <span class="label-text"><strong>Internet Only</strong></span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label class="radiobutton">
                                                                <input name="radio" class="radio" value="combo" type="radio">
                                                                <span class="label-text"><strong>Combo Paytv & Internet</strong></span>
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-4 regionDiv" style="padding-top: 15px">
                                                    <span class="titFilter"><i class="fa fa-bell"></i> Group Region</span>
                                                    <div class="region" style="margin-top: 10px;margin-bottom: 20px"></div>
                                                </div>
                                            </div>
                                            <div class="disInline">
                                                <div class="col-xs-4 ageDiv" style="height: 70px;padding-top: 15px;">
                                                    <span class="titFilter"><i class="fa fa-bell"></i> Group Age</span>
                                                    <select class="form-control selectBoxMb slAge" multiple="multiple" style="border: 1px solid #16a085!important">
                                                    @for( (k,v) <- AgeGroupUtil.AGE.toArray.sorted){
                                                        <option value="@v">@k</option>
                                                    }
                                                    </select>
                                                </div>
                                                <div class="col-xs-4 packageDiv" style="height: 70px;padding-top: 15px;">
                                                    <span class="titFilter"><i class="fa fa-bell"></i> Group Package</span>
                                                    <select class="form-control selectBoxMb slPackage" multiple="multiple" style="border: 1px solid #16a085!important">
                                                    @for( v <- rs.packages){
                                                        <option value="@v">@v</option>
                                                    }
                                                    </select>
                                                </div>
                                                <div class="col-xs-4"></div>
                                            </div>
                                            <div style="margin:15px 0px 0px 0px;padding:0px 15px">
                                                <a class="apply btn btn-xs btn-success" style="float: right;margin-bottom: 15px"><i class="fa fa-check-circle"></i> Apply</a>
                                                <a class="btn btn-xs btn-secondary btnRefresh"><i class="fa fa-refresh"></i> Refresh</a>
                                            </div>
                                            <div class="col-xs-12 lineDivXs"></div>
                                            @*<div style="margin-top: 60px">
                                            <label class="txtCmt">Data is pending 2018-10</label>
                                            <textarea class="form-control areaXs" placeholder="Your comment report..." id="cmt" rows="3"></textarea>
                                            <a class="btn btn-xs btn-primary" style="margin: 10px 15px 20px 0px;float: right">Comment</a>
                                            </div>*@
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Mobile Menu end -->
            </div>
            @if(rs != null) {
                @helper.CSRF.formField
                <input type="hidden" value="@month" id="month">
                <input type="hidden" value="@month" id="monthCurr">
                <input type="hidden" id="combo">
                <input type="hidden" id="region">
                <input type="hidden" id="province">
                <input type="hidden" id="indexChart">

                <div class="rate-percent-area mg-tb-15">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="reso-mg-b-30 box-area-active boxnum" id="boxCtActive">
                                    <div class="analytics-content">
                                        <h1>
                                            <span class="counter currCtActive">@formatPattern(rs.numContract._1.curr)</span>
                                            <i class="fa fa-info-circle iconTip" title="Tổng số hợp đồng tháng gần nhất"></i>
                                            <i class="fa fa-check-circle ibox" aria-hidden="true"></i>
                                        </h1>
                                        <h3>Active Contracts</h3>
                                    </div>
                                    <div class="boxCorner prevCtActive">
                                        <h4>@formatPattern(rs.numContract._1.prev) <i class="fa fa-info-circle iconTip" title="Tổng số hợp đồng tháng cùng kỳ năm ngoái"></i></h4>
                                        @if(rs.numContract._1.prev > rs.numContract._1.curr){
                                            <span class="down"><i class="fa fa-arrow-down fadeInDown animated" aria-hidden="true"></i> @percent(rs.numContract._1.curr.toLong, rs.numContract._1.prev.toLong) %</span> from @getPrevYYYYMM(month)
                                        }else{
                                            <span class="up"><i class="fa fa-arrow-up fadeInUp animated" aria-hidden="true"></i> @percent(rs.numContract._1.curr.toLong, rs.numContract._1.prev.toLong) %</span> from @getPrevYYYYMM(month)
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="reso-mg-b-30 box-area-cancel boxnum" id="boxCtHuydv">
                                    <div class="analytics-content">
                                        <h1>
                                            <span class="counter currCtHuydv">@formatPattern(rs.numContract._2.curr)</span>
                                            <i class="fa fa-info-circle iconTip" title="Tổng số hợp đồng HSSD trong năm hiện tại"></i>
                                            <i class="fa fa-sign-out ibox" aria-hidden="true"></i>
                                        </h1>
                                        <h3>HSSD Contracts</h3>
                                    </div>
                                    <div class="boxCorner prevCtHuydv">
                                        <h4>@formatPattern(rs.numContract._2.prev) <i class="fa fa-info-circle iconTip" title="Tổng số hợp đồng HSSD cùng kỳ năm ngoái"></i></h4>
                                        @if(rs.numContract._2.prev > rs.numContract._2.curr){
                                            <span class="down"><i class="fa fa-arrow-down fadeInDown animated" aria-hidden="true"></i> @percent(rs.numContract._2.curr.toLong, rs.numContract._2.prev.toLong) %</span> from @getPrevYYYY(month)
                                        }else{
                                            <span class="up"><i class="fa fa-arrow-up fadeInUp animated" aria-hidden="true"></i> @percent(rs.numContract._2.curr.toLong, rs.numContract._2.prev.toLong) %</span> from @getPrevYYYY(month)
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="reso-mg-b-30 box-area-warning boxnum" id="boxCtCtbdv">
                                    <div class="analytics-content">
                                        <h1>
                                            <span class="counter currCtCtbdv">@formatPattern(rs.numContract._3.curr)</span>
                                            <i class="fa fa-info-circle iconTip" title="Tổng số hợp đồng CTBDV trong năm hiện tại"></i>
                                            <i class="fa fa-exclamation-circle ibox" aria-hidden="true"></i>
                                        </h1>
                                        <h3>CTBDV Contracts</h3>
                                    </div>
                                    <div class="boxCorner prevCtCtbdv">
                                        <h4>@formatPattern(rs.numContract._3.prev) <i class="fa fa-info-circle iconTip" title="Tổng số hợp đồng CTBDV cùng kỳ năm ngoái"></i></h4>
                                        @if(rs.numContract._3.prev > rs.numContract._3.curr){
                                            <span class="down"><i class="fa fa-arrow-down fadeInDown animated" aria-hidden="true"></i> @percent(rs.numContract._3.curr.toLong, rs.numContract._3.prev.toLong) %</span> from @getPrevYYYY(month)
                                        }else{
                                            <span class="up"><i class="fa fa-arrow-up fadeInUp animated" aria-hidden="true"></i> @percent(rs.numContract._3.curr.toLong, rs.numContract._3.prev.toLong) %</span> from @getPrevYYYY(month)
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mg-t-15">
                                <div class="reso-mg-b-30 box-area-active boxnum" id="boxRateTotal">
                                    <div class="analytics-content">
                                        <h1>
                                            <span class="counter avgRateTotal">@rs.churnRate._3.avg</span> %
                                            <i class="fa fa-info-circle iconTip" title="Tỷ lệ rời mạng, bao gồm HSSD và CTBDV, trung bình trong năm hiện tại"></i>
                                            <i class="fa fa-bolt ibox" aria-hidden="true"></i>
                                        </h1>
                                        <h3>Churn Rate</h3>
                                    </div>
                                    <div class="boxCorner" style="width: 100px;color: #c53a1a">
                                        <h4 class="currRateTotal">@rs.churnRate._3.curr % <i class="fa fa-info-circle iconTip" title="Tỷ lệ rời mạng, bao gồm HSSD và CTBDV, của tháng hiện tại"></i></h4>
                                        <span><i class="fa fa-calendar" aria-hidden="true"></i> <span class="currMonth">@month</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mg-t-15">
                                <div class="reso-mg-b-30 box-area-cancel boxnum" id="boxRateHuydv">
                                    <div class="analytics-content">
                                        <h1>
                                            <span class="counter avgRateHuydv">@rs.churnRate._1.avg</span> %
                                            <i class="fa fa-info-circle iconTip" title="Tỷ lệ rời mạng, tính theo HSSD, trung bình trong năm hiện tại"></i>
                                            <i class="fa fa-bolt ibox" aria-hidden="true"></i>
                                        </h1>
                                        <h3>HSSD Churn Rate</h3>
                                    </div>
                                    <div class="boxCorner" style="width: 100px;color: #0e820e">
                                        <h4 class="currRateHuydv">@rs.churnRate._1.curr % <i class="fa fa-info-circle iconTip" title="Tỷ lệ rời mạng, tính theo HSSD, của tháng hiện tại"></i></h4>
                                        <span><i class="fa fa-calendar" aria-hidden="true"></i> <span class="currMonth">@month</span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mg-t-15">
                                <div class="reso-mg-b-30 box-area-warning boxnum" id="boxRateCtbdv">
                                    <div class="analytics-content">
                                        <h1>
                                            <span class="counter avgRateCtbdv">@rs.churnRate._2.avg</span> %
                                            <i class="fa fa-info-circle iconTip" title="Tỷ lệ rời mạng, tính theo CTBDV, trung bình trong năm hiện tại"></i>
                                            <i class="fa fa-bolt ibox" aria-hidden="true"></i>
                                        </h1>
                                        <h3>CTBDV Churn Rate</h3>
                                    </div>
                                    <div class="boxCorner" style="width:100px;color: #1e44b5">
                                        <h4 class="currRateCtbdv">@rs.churnRate._2.curr % <i class="fa fa-info-circle iconTip" title="Tỷ lệ rời mạng, tính theo CTBDV, của tháng hiện tại"></i></h4>
                                        <span><i class="fa fa-calendar" aria-hidden="true"></i> <span class="currMonth">@month</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rate-percent-area mg-t-15">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="product-sales-chart">
                                    <div class="portlet-title" style="height: 35px">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="caption pro-sl-hd">
                                                    <span class="caption-subject">Number of Contracts By Status
                                                        <span class="dropdown">
                                                            <a name="0" class="dropdown-toggle aMore" style="cursor: pointer" onclick="toogleTooltip(this)"><i class="fa fa-info-circle" style="color: #16a085;"></i></a>
                                                            <div class="dropdown-menu ddMore" style="background: #211d1d">
                                                                <p class="divMore">
                                                                    <span>Thống kê số lượng hợp đồng HSSD và CTBDV 12 tháng gần nhất</span>
                                                                </p>
                                                            </div>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="track1" style="width: auto; height: 320px;"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="product-sales-chart">
                                    <div class="portlet-title" style="height: 35px">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="caption pro-sl-hd">
                                                    <span class="caption-subject">Churn Rate and Percent By Status
                                                        <span class="dropdown">
                                                            <a name="1" class="dropdown-toggle aMore" style="cursor: pointer" onclick="toogleTooltip(this)"><i class="fa fa-info-circle" style="color: #16a085;"></i></a>
                                                            <div class="dropdown-menu ddMore" style="background: #211d1d;position: absolute;min-width: 390px!important;">
                                                                <p class="divMore">
                                                                    <span>Thống kê tỷ lệ và phần trăm rời mạng, bao gồm cả HSSD và CTBDV, trong 12 tháng gần nhất</span><span class="dots">...</span><br>
                                                                    <span class="more" style="display: none">
                                                                        <b>Ví dụ: tháng 1/2019:</b><br>
                                                                        <span>- Tỷ lệ rời mạng = Tổng số HĐ HSSD và CTBDV tháng 01-2019 / Tổng số HĐ tháng 01-2019</span><br>
                                                                        <span>- Phần trăm rời mạng (ví dụ cho khách hàng ở Vùng 1) = Tổng số HĐ HSSD và CTBDV tháng 01-2019 ở Vùng 1 / Tổng số HĐ HSSD và CTBDV tháng 01-2019</span><br>
                                                                        <span>- Chỉ số F1 = 2 * (Tỷ lệ RM * Phần trăm RM) / (Tỷ lệ RM + Phần trăm RM)</span>
                                                                    </span>
                                                                </p>
                                                                <a onclick="showMoreLess(this)"><i class="fa fa-angle-double-down tooltipSL" aria-hidden="true"></i></a>
                                                            </div>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="track2" style="width: auto; height: 320px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rate-percent-area mg-tb-15">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="product-sales-chart">
                                    <div class="portlet-title" style="height: 35px">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="caption pro-sl-hd">
                                                    <span class="caption-subject">Churn Rate and Percent By HSSD
                                                        <span class="dropdown">
                                                            <a name="2" class="dropdown-toggle aMore" style="cursor: pointer" onclick="toogleTooltip(this)"><i class="fa fa-info-circle" style="color: #16a085;"></i></a>
                                                            <div class="dropdown-menu ddMore" style="background: #211d1d;position: absolute;min-width: 390px!important;">
                                                                <p class="divMore">
                                                                    <span>Thống kê tỷ lệ và phần trăm rời mạng, tính theo HSSD, trong 12 tháng gần nhất</span><span class="dots">...</span><br>
                                                                    <span class="more" style="display: none">
                                                                        <b>Ví dụ: tháng 1/2019:</b><br>
                                                                        <span>- Tỷ lệ rời mạng = Tổng số HĐ HSSD tháng 01-2019 / Tổng số HĐ tháng 01-2019</span><br>
                                                                        <span>- Phần trăm rời mạng (ví dụ cho nhóm khách hàng ở Vùng 1) = Tổng số HĐ HSSD tháng 01-2019 ở Vùng 1 / Tổng số HĐ HSSD tháng 01-2019</span><br>
                                                                        <span>- Chỉ số F1 = 2 * (Tỷ lệ RM * Phần trăm RM) / (Tỷ lệ RM + Phần trăm RM)</span>
                                                                    </span>
                                                                </p>
                                                                <a onclick="showMoreLess(this)"><i class="fa fa-angle-double-down tooltipSL" aria-hidden="true"></i></a>
                                                            </div>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="track3" style="width: auto; height: 320px;"></div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="product-sales-chart">
                                    <div class="portlet-title" style="height: 35px">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="caption pro-sl-hd">
                                                    <span class="caption-subject">Churn Rate and Percent By CTBDV
                                                        <span class="dropdown">
                                                            <a name="3" class="dropdown-toggle aMore" style="cursor: pointer" onclick="toogleTooltip(this)"><i class="fa fa-info-circle" style="color: #16a085;"></i></a>
                                                            <div class="dropdown-menu ddMore" style="background: #211d1d;position: absolute;min-width: 390px!important;">
                                                                <p class="divMore">
                                                                    <span>Thống kê tỷ lệ và phần trăm rời mạng, tính theo CTBDV, trong 12 tháng gần nhất</span><span class="dots">...</span><br>
                                                                    <span class="more" style="display: none">
                                                                        <b>Ví dụ: tháng 1/2019:</b><br>
                                                                        <span>- Tỷ lệ rời mạng = Tổng số HĐ CTBDV tháng 01-2019 / Tổng số HĐ tháng 01-2019</span><br>
                                                                        <span>- Phần trăm rời mạng (ví dụ cho nhóm khách hàng ở Vùng 1) = Tổng số HĐ CTBDV tháng 01-2019 ở Vùng 1 / Tổng số HĐ CTBDV tháng 01-2019</span><br>
                                                                        <span>- Chỉ số F1 = 2 * (Tỷ lệ RM * Phần trăm RM) / (Tỷ lệ RM + Phần trăm RM)</span>
                                                                    </span>
                                                                </p>
                                                                <a onclick="showMoreLess(this)"><i class="fa fa-angle-double-down tooltipSL" aria-hidden="true"></i></a>
                                                            </div>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="track4" style="width: auto; height: 320px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            } else{
                <div class="row"><h2 class="noData-title">
                    Sorry, This page is under construction, please come back later...</h2></div>
            }
            <div class="footer-copyright-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer-copy-right">
                                <p>Copyright © 2018. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/assets/otherLayout/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/assets/otherLayout/js/bootstrap.min.js"></script>
        <script src="/assets/otherLayout/js/wow.min.js"></script>
        <script src="/assets/otherLayout/js/jquery-price-slider.js"></script>
        <script src="/assets/otherLayout/js/jquery.meanmenu.js"></script>
        <script src="/assets/otherLayout/js/owl.carousel.min.js"></script>
        <script src="/assets/otherLayout/js/jquery.sticky.js"></script>
        <script src="/assets/otherLayout/js/jquery.scrollUp.min.js"></script>
        <script src="/assets/otherLayout/js/counterup/jquery.counterup.min.js"></script>
        <script src="/assets/otherLayout/js/counterup/waypoints.min.js"></script>
        <script src="/assets/otherLayout/js/counterup/counterup-active.js"></script>
        <script src="/assets/otherLayout/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/assets/otherLayout/js/scrollbar/mCustomScrollbar-active.js"></script>
        <script src="/assets/otherLayout/js/metisMenu/metisMenu.min.js"></script>
        <script src="/assets/otherLayout/js/metisMenu/metisMenu-active.js"></script>
        <script src="/assets/otherLayout/js/plugins.js"></script>
        <script src="/assets/otherLayout/js/main.js"></script>
        <script src="/assets/javascripts/select2.min.js"></script>
        <script src="/assets/javascripts/jsTree.js"></script>
        <script src="/assets/javascripts/waitMe.js"></script>
        <script src="/assets/javascripts/icheck.js"></script>
        <script src="/assets/javascripts/common_churn.js"></script>
            <!--  Datepicker -->
        <script src="/assets/datepicker/js/bootstrap-datepicker.js"></script>
            <!-- High chart -->
        <script src="/assets/javascripts/highcharts.js"></script>
        @if(rs != null){
            @scripts(rs)
        }
    </body>

</html>