@(form: Form[(String,String)])(implicit flash: Flash)

<!DOCTYPE html>

<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Login | Churn Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/assets/otherLayout/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/owl.carousel.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/owl.theme.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/owl.transitions.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/animate.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/normalize.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/main.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/morrisjs/morris.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/scrollbar/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/metisMenu/metisMenu.min.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/metisMenu/metisMenu-vertical.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/form/all-type-forms.css">
        <link rel="stylesheet" href="/assets/otherLayout/style.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/responsive.css">
        <script src="/assets/otherLayout/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>

    <body>
        <div class="error-pagewrap" style="background: url(/assets/images/bras-bg.jpg)">
            <div class="error-page-int">
                <div class="text-center m-b-md custom-login">
                    <h3 style="color: #fff">PLEASE LOGIN TO DASHBOARD</h3>
                </div>
                <div class="content-error">
                    <div class="hpanel">
                        <div class="panel-body">
                            <form action="/login" method="GET">
                                <div class="form-group">
                                    <label class="control-label" for="username">Username</label>
                                    <input type="text" title="Please enter you username" required="" autocomplete="off" placeholder="Username"  name="email" class="form-control submit_on_enter">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="password">Password</label>
                                    <input type="password" title="Please enter your password" required="" autocomplete="off" placeholder="Password" name="password" class="form-control submit_on_enter">
                                </div>
                                <button type="submit" class="btn btn-primary btn-block loginbtn">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="text-center login-footer" style="color: #fff">
                    <p>Copyright © 2018. Login Admin System</p>
                </div>
            </div>
        </div>
            <!-- jquery
		============================================ -->
        <script src="/assets/otherLayout/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/assets/otherLayout/js/bootstrap.min.js"></script>
        <script src="/assets/otherLayout/js/wow.min.js"></script>
        <script src="/assets/otherLayout/js/jquery-price-slider.js"></script>
        <script src="/assets/otherLayout/js/jquery.meanmenu.js"></script>
        <script src="/assets/otherLayout/js/owl.carousel.min.js"></script>
        <script src="/assets/otherLayout/js/jquery.sticky.js"></script>
        <script src="/assets/otherLayout/js/jquery.scrollUp.min.js"></script>
        <script src="/assets/otherLayout/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/assets/otherLayout/js/scrollbar/mCustomScrollbar-active.js"></script>
        <script src="/assets/otherLayout/js/metisMenu/metisMenu.min.js"></script>
        <script src="/assets/otherLayout/js/metisMenu/metisMenu-active.js"></script>
        <script src="/assets/otherLayout/js/tab.js"></script>
        <script src="/assets/otherLayout/js/plugins.js"></script>
        <script src="/assets/otherLayout/js/main.js"></script>
        <script>
                jQuery(document).ready(function() {
                    $('.submit_on_enter').keydown(function(event) {
                        // enter has keyCode = 13, change it if you want to use another button
                        if (event.keyCode == 13) {
                            this.form.submit();
                            return false;
                        }
                    });
                });
        </script>
    </body>

</html>