@(rs: (Array[(Int, Int, Double, Double, Int)],Array[(Int, Double, Double)], Array[(String, Double, Double)]) )
@import play.api.libs.json.Json
@import services.domain.CommonService
@import churn.utils.AgeGroupUtil

<script type="text/javascript">
        var width = '50%'
        var left = 'auto'
        var right = 'auto'
        if($(window).width() <= 600) {
            left = 110
            right = 0
            width = '70%'
        }
        var options = {
                title: 'Churn Rate (%)',
                hAxis: {
                    title: 'Contract Age',
                    gridlines: {
                        count: 13,
                        color: 'transparent'
                    },
                    maxAlternation: 2, // use a maximum of 1 line of labels
                    showTextEvery: 1, // show every label if possible
                    minTextSpacing: 40 // minimum spacing between adjacent labels, in pixels
                },
                vAxis: {
                    title: '',
                    gridlines: {
                        count: 9,
                        color: '#f0f0f0'
                    }
                },
                chartArea: {
                        height: "70%",
                        width: width,
                        left: left,
                        right: right
                },
                sizeAxis: {
                        maxSize: 25
                },
                colorAxis: {colors: ['#F6CECE', '#B40404']},
                bubble: {
                        textStyle: {
                                auraColor: 'none',
                        },
                        cursor: 'pointer',
                        opacity: 1
                },
                tooltip: {
                        trigger: 'none'
                }
        };
        google.load('visualization', '1.0', {
                'packages' : [ 'corechart' ]
        });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
                $('#monthPicker').datepicker({
                        autoclose: true,
                        minViewMode: 1,
                        startDate: '-12m',
                        endDate: '-1m',
                        format: 'yyyy-mm'
                }).on('changeDate', function (selected) {
                        var startDate = new Date(selected.date.valueOf());
                        var yr = startDate.getFullYear();
                        var month = startDate.getMonth() < 9 ? ('0' + Number(startDate.getMonth() + 1)) : (Number(startDate.getMonth() + 1));
                        var newDate = yr + '-' + month;
                        $('#month').val(newDate)
                });
                // bubble charts
                var container = document.getElementById('container')
                var catesAge = @Html(Json.stringify(Json.toJson(AgeGroupUtil.AGE)))
                var internetChurnHuyDv = getDataChurn(@Html(Json.stringify(Json.toJson(rs._1))))
                var dataHuyDv = google.visualization.arrayToDataTable(internetChurnHuyDv)
                var chartHuyDv = new google.visualization.BubbleChart(container);
                google.visualization.events.addListener(chartHuyDv, 'ready', function () {
                        Array.prototype.forEach.call(container.getElementsByTagName('text'), function(text) {
                                if ((text.getAttribute('text-anchor') === 'end') && (text.getAttribute('fill') === '#444444')) {
                                        if(text.innerHTML == 0 || text.innerHTML == 8)
                                            text.setAttribute('fill-opacity',0)
                                }
                                // change label age
                                if ((text.getAttribute('text-anchor') === 'middle') && (text.getAttribute('fill') === '#444444')) {
                                        if(text.innerHTML == 0 || text.innerHTML == 72)
                                                text.setAttribute('fill-opacity',0)
                                        else{
                                                switch ( text.innerHTML){
                                                        case "6" :
                                                                text.innerHTML = "0-6";break;
                                                        case "12" :
                                                                text.innerHTML = "06-12";break;
                                                        case "18" :
                                                                text.innerHTML = "12-18";break;
                                                        case "24" :
                                                                text.innerHTML = "18-24";break;
                                                        case "30" :
                                                                text.innerHTML = "24-30";break;
                                                        case "36" :
                                                                text.innerHTML = "30-36";break;
                                                        case "42" :
                                                                text.innerHTML = "36-42";break;
                                                        case "48" :
                                                                text.innerHTML = "42-48";break;
                                                        case "54" :
                                                                text.innerHTML = "48-54";break;
                                                        case "60" :
                                                                text.innerHTML = "54-60";break;
                                                        case "66" :
                                                                text.innerHTML = ">60";break;
                                                }
                                        }
                                }
                        });
                });
                chartHuyDv.draw(dataHuyDv, options);
                google.visualization.events.addListener(chartHuyDv, 'select', function () {
                        var selection = chartHuyDv.getSelection();
                        if(selection.length >0) {
                                var row = selection[0].row;
                                var region = dataHuyDv.getValue(row, 2)
                                var age = dataHuyDv.getValue(row, 1)
                                $('#age').val(age)
                                $('#region').val(region)
                        }
                        else{
                                $('#age').val("")
                                $('#region').val("")
                        }
                        $('#ageTitle').text("")
                        ajaxGetChurn("regionAge")
                });
                var mouseX;
                var mouseY;
                $(document).mousemove(function(e) {
                    if($(window).width() <=600){
                            mouseX = e.pageX +115;
                            mouseY = e.pageY -50;
                    }
                    else{
                            mouseX = e.pageX;
                            mouseY = e.pageY -150;
                    }
                });

                function handlerOut() {
                        $('.custom_tooltip').hide();
                }
                google.visualization.events.addListener(chartHuyDv, 'onmouseover', function (event) {
                        var rate = dataHuyDv.getValue(event.row, 3);
                        var xAxis = dataHuyDv.getValue(event.row, 1);
                        var yAxis = dataHuyDv.getValue(event.row, 2);
                        var percent = dataHuyDv.getValue(event.row, 4);
                        var contracts = dataHuyDv.getValue(event.row, 5);
                        var x = mouseX - 225;
                        var y = mouseY - 450;
                        $('#churn_tooltip').html('<div><p><b>Age:</b> ' + keyByValue( catesAge, xAxis) +'</p><p><b>Region:</b> '+ yAxis +
                                '</p><p><b>Rate:</b> '+ rate +' %</p><p><b>Percent:</b> '+ percent +' %</p><p><b>Number of contracts: </b>'+contracts+'</p></div>').css({
                                'top': y,
                                'left': x
                        }).fadeIn('slow');
                });
                google.visualization.events.addListener(chartHuyDv, 'onmouseout', handlerOut);

                var churn_age = Highcharts.chart('churn1', {
                        chart: {
                                zoomType: 'xy'
                        },

                        title: {
                                text: ''
                        },

                        colors : ['#73879C','#dc5a78'],

                        xAxis: {
                                categories: @Html(Json.stringify(Json.toJson(rs._2.map(x=> AgeGroupUtil.getAgeById(x._1)))))
                        },

                        yAxis: [{ // Primary yAxis
                                /*max: rs._2.map(x=> x._3).max,
                                tickInterval:0.01,
                                min: rs._2.map(x=> x._3).min,*/
                                labels: {
                                        format: '{value} %',
                                        style: {
                                                color: "#73879C"
                                        }
                                },
                                title: {
                                        text: 'Churn Percent',
                                        style: {
                                                color: "#73879C"
                                        }
                                }
                        }, { // Secondary yAxis
                                title: {
                                        text: 'Churn Rate',
                                        style: {
                                                color: "#dc5a78"
                                        }
                                },
                                labels: {
                                        format: '{value} %',
                                        style: {
                                                color: "#dc5a78"
                                        }
                                },
                                opposite: true
                        }],

                        plotOptions: {
                                series: {
                                        cursor: 'pointer',
                                        point: {
                                                events: {
                                                        click: function () {
                                                              /*  for (var i = 0; i < this.series.data.length; i++) {
                                                                        this.series.data[i].update({ color: '#73879C' }, true, false);
                                                                }
                                                                this.update({ color: '#ECB631' }, true, false)*/
                                                                $('#region').val("")
                                                                if(getIdBynameAge(this.category) == $('#age').val()){
                                                                        $('#age').val("")
                                                                        $('#ageTitle').text("")
                                                                }
                                                                else{
                                                                        $('#age').val(getIdBynameAge(this.category))
                                                                        $('#ageTitle').text("(Age: "+this.category+")")
                                                                }
                                                                ajaxGetChurn("age")
                                                        }
                                                }
                                        }
                                }
                        },

                        tooltip: {
                                shared: true
                        },

                        series: getJsonChurnMonth(@Html(Json.stringify(Json.toJson(rs._2.map(x=> x._2)))),@Html(Json.stringify(Json.toJson(rs._2.map(x=> x._3)))))

                });

                var churn_month = Highcharts.chart('churn2', {
                        chart: {
                                zoomType: 'xy'
                        },

                        title: {
                                text: ''
                        },
                        colors : ['#149c7f','#dc5a78'],

                        xAxis: {
                                categories: @Html(Json.stringify(Json.toJson(rs._3.map(x=>x._1)))),
                            labels: {
                                useHTML: true,//set to true
                                style: {
                                    fontSize: '10px'
                                }
                            }
                        },

                        yAxis: [{ // Primary yAxis
                                labels: {
                                        format: '{value} %',
                                        style: {
                                                color: "#149c7f"
                                        }
                                },
                                title: {
                                        text: 'Churn Percent',
                                        style: {
                                                color: "#149c7f"
                                        }
                                }
                        }, { // Secondary yAxis
                                title: {
                                        text: 'Churn Rate',
                                        style: {
                                                color: "#dc5a78"
                                        }
                                },
                                labels: {
                                        format: '{value} %',
                                        style: {
                                                color: "#dc5a78"
                                        }
                                },
                                opposite: true
                        }],
                        tooltip: {
                                shared: true
                        },

                        series: getJsonChurnMonth(@Html(Json.stringify(Json.toJson(rs._3.map(x=> x._2)))),@Html(Json.stringify(Json.toJson(rs._3.map(x=> x._3)))))

                });

                // click apply fitler
                $('#apply').click(function () {
                      $('#region').val("")
                      $('#age').val("")
                      $('#profile').val("")
                      $('#ageTitle').text("")
                      ajaxGetChurn("*")
                })

                function ajaxGetChurn(_type){
                        var fields = getParamFields(document.querySelector('input[name=csrfToken]').value)
                        $.ajax({
                                url: "/internet/age/getJsonChurn",
                                cache: false,
                                data:  fields,
                                type:"POST",
                                beforeSend: function () {
                                        $('.divGroup').waitMe({
                                                effect: 'progressBar',
                                                text: 'Please wait...',
                                                bg: 'rgba(255,255,255,0.7)',
                                                color: '#000',
                                                textPos: 'vertical'
                                        });
                                },
                                success: function (dta) {
                                        if(dta != "Error"){
                                            $('#monthAge').text("("+$('#month').val()+")")
                                            $('#monthRegion').text("("+$('#month').val()+")")
                                            // update chart Age
                                            if(_type != "age") {
                                                updateCharts(churn_age, getJsonChurnMonth(dta.churnAge.churnRate, dta.churnAge.churnPercent))
                                            }
                                            // update chart Month
                                            updateCharts(churn_month, getJsonChurnMonth(dta.churnMonth.churnRate, dta.churnMonth.churnPercent))
                                            // update chart bubble
                                            if(_type != "regionAge") {
                                                    $('#txtMin').text(dta.churnRegionAge.minPercent)
                                                    $('#txtMax').text(dta.churnRegionAge.maxPercent)
                                                    $('#circle2').text(Number(dta.churnRegionAge.minPercent + (dta.churnRegionAge.maxPercent-dta.churnRegionAge.minPercent)/5*2).toFixed(2))
                                                    $('#circle3').text(Number(dta.churnRegionAge.minPercent + (dta.churnRegionAge.maxPercent-dta.churnRegionAge.minPercent)/5*3).toFixed(2))
                                                    var churnStatus = getDataChurn(dta.churnRegionAge.data)
                                                    var dataStatus = google.visualization.arrayToDataTable(churnStatus)
                                                    var chartStatus = new google.visualization.BubbleChart(document.getElementById('container'));
                                                    google.visualization.events.addListener(chartStatus, 'ready', function () {
                                                            Array.prototype.forEach.call(document.getElementById('container').getElementsByTagName('text'), function(text) {
                                                                    if ((text.getAttribute('text-anchor') === 'end') && (text.getAttribute('fill') === '#444444')) {
                                                                            if(text.innerHTML == 0 || text.innerHTML == 8)
                                                                                    text.setAttribute('fill-opacity',0)
                                                                    }
                                                                    // change label age
                                                                    if ((text.getAttribute('text-anchor') === 'middle') && (text.getAttribute('fill') === '#444444')) {
                                                                            if(text.innerHTML == 0 || text.innerHTML == 72)
                                                                                    text.setAttribute('fill-opacity',0)
                                                                            else{
                                                                                    switch ( text.innerHTML){
                                                                                            case "6" :
                                                                                                    text.innerHTML = "0-6";break;
                                                                                            case "12" :
                                                                                                    text.innerHTML = "06-12";break;
                                                                                            case "18" :
                                                                                                    text.innerHTML = "12-18";break;
                                                                                            case "24" :
                                                                                                    text.innerHTML = "18-24";break;
                                                                                            case "30" :
                                                                                                    text.innerHTML = "24-30";break;
                                                                                            case "36" :
                                                                                                    text.innerHTML = "30-36";break;
                                                                                            case "42" :
                                                                                                    text.innerHTML = "36-42";break;
                                                                                            case "48" :
                                                                                                    text.innerHTML = "42-48";break;
                                                                                            case "54" :
                                                                                                    text.innerHTML = "48-54";break;
                                                                                            case "60" :
                                                                                                    text.innerHTML = "54-60";break;
                                                                                            case "66" :
                                                                                                    text.innerHTML = ">60";break;
                                                                                    }
                                                                            }
                                                                    }
                                                            });
                                                    });
                                                    chartStatus.draw(dataStatus, options);
                                                    google.visualization.events.addListener(chartStatus, 'select', function () {
                                                            var selection = chartStatus.getSelection();
                                                            if(selection.length >0) {
                                                                    var row = selection[0].row;
                                                                    var region = dataStatus.getValue(row, 2)
                                                                    var age = dataStatus.getValue(row, 1)
                                                                    $('#age').val(age)
                                                                    $('#region').val(region)
                                                            }
                                                            else{
                                                                    $('#age').val("")
                                                                    $('#region').val("")
                                                            }
                                                            $('#ageTitle').text("")
                                                            ajaxGetChurn("regionAge")
                                                    });
                                                    google.visualization.events.addListener(chartStatus, 'onmouseover', function (event) {
                                                            var rate = dataStatus.getValue(event.row, 3);
                                                            var xAxis = dataStatus.getValue(event.row, 1);
                                                            var yAxis = dataStatus.getValue(event.row, 2);
                                                            var percent = dataStatus.getValue(event.row, 4);
                                                            var contracts = dataStatus.getValue(event.row, 5);
                                                            var x = mouseX - 225;
                                                            var y = mouseY - 450;
                                                            $('#churn_tooltip').html('<div><p><b>Age:</b> ' + keyByValue( catesAge, xAxis) +'</p><p><b>Region:</b> '+ yAxis +
                                                                    '</p><p><b>Rate:</b> '+ rate +' %</p><p><b>Percent:</b> '+ percent +' %</p><p><b>Number of contracts: </b>'+contracts+'</p></div>').css({
                                                                    'top': y,
                                                                    'left': x
                                                            }).fadeIn('slow');
                                                    });
                                                    google.visualization.events.addListener(chartStatus, 'onmouseout', handlerOut);
                                            }
                                        }
                                        else{
                                                alert("Error when excute query. Please check again your system!")
                                        }
                                },
                                complete: function () {
                                        $('.divGroup').waitMe("hide");
                                }
                        });
                }
        }

        function getParamFields(token){
                var obj = {
                        "csrfToken" : token,
                        "region" : $('#region').val(),
                        "age"    : $('#age').val(),
                        "month"  : $('#month').val(),
                        "status" : $('#slStatus').val()
                }
                return obj
        }

        function getDataChurn(dta){
            var rs = []
            rs.push(['ID', 'Age', 'Region','Rate', 'Percent','Contract'])
            for(var i=0;i<dta.length;i++){
                var arr = []
                    arr[0]=''
                    arr[1]=dta[i][1]
                    arr[2]=dta[i][0]
                    arr[3]=dta[i][2]
                    arr[4]=dta[i][3]
                    arr[5]=dta[i][4]
                rs.push(arr)
            }
            return rs
        }

</script>