@(rs: (Array[(Int, Int, Double, Double)],Array[(Int, Double, Double)], Array[(String, Double, Double)]) )
@import play.api.libs.json.Json
@import services.domain.CommonService.getOthers
@import _root_.service.DevService.bubbleHeatChart
@import profiles.utils.AgeGroupUtil

<script type="text/javascript">
        var categories = @Html(Json.stringify(Json.toJson(rs._3.map(x=>x._1))))
        var categoryAges = @Html(Json.stringify(Json.toJson(rs._2.map(x=> AgeGroupUtil.getIdAge(x._1)))))
        var options = {
                title: 'Churn Rate',
                hAxis: {title: 'Contract Age (month)',gridlines: {count: 13}},
                vAxis: {title: 'Region',gridlines: {count: 9}},
                chartArea: {
                        height: "80%",
                        width: "80%"
                },
                colorAxis: {colors: ['#f7f1f1', 'red']},
                bubble: {
                        textStyle: {
                                auraColor: 'none',
                        },
                        cursor: 'pointer',
                        opacity: 1
                }
        };
        google.load('visualization', '1.0', {
                'packages' : [ 'corechart' ]
        });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
                // bublle charts
                var container = document.getElementById('container')
                var internetChurnCTBTV = getDataChurn(@Html(Json.stringify(Json.toJson(rs._1))))
                var dataCTBTV = google.visualization.arrayToDataTable(internetChurnCTBTV);
                var chartCTBTV = new google.visualization.BubbleChart(container);
                google.visualization.events.addListener(chartCTBTV, 'ready', function () {
                        Array.prototype.forEach.call(container.getElementsByTagName('text'), function(text) {
                                if ((text.getAttribute('text-anchor') === 'end') && (text.getAttribute('fill') === '#444444')) {
                                        if(text.innerHTML == 0 || text.innerHTML == 8)
                                            text.setAttribute('fill-opacity',0)
                                }
                                // change label age
                                if ((text.getAttribute('text-anchor') === 'middle') && (text.getAttribute('fill') === '#444444')) {
                                        if(text.innerHTML == 0 || text.innerHTML == 72)
                                                text.setAttribute('fill-opacity',0)
                                        else{
                                                switch ( text.innerHTML){
                                                        case "6" :
                                                                text.innerHTML = "0-6";break;
                                                        case "12" :
                                                                text.innerHTML = "6-12";break;
                                                        case "18" :
                                                                text.innerHTML = "12-18";break;
                                                        case "24" :
                                                                text.innerHTML = "18-24";break;
                                                        case "30" :
                                                                text.innerHTML = "24-30";break;
                                                        case "36" :
                                                                text.innerHTML = "30-36";break;
                                                        case "42" :
                                                                text.innerHTML = "36-42";break;
                                                        case "48" :
                                                                text.innerHTML = "42-48";break;
                                                        case "54" :
                                                                text.innerHTML = "48-54";break;
                                                        case "60" :
                                                                text.innerHTML = "54-60";break;
                                                        case "66" :
                                                                text.innerHTML = ">60";break;
                                                }
                                        }
                                }
                        });
                });
                chartCTBTV.draw(dataCTBTV, options);
                google.visualization.events.addListener(chartCTBTV, 'select', function () {
                        var selection = chartCTBTV.getSelection();
                        if(selection.length >0) {
                                var row = selection[0].row;
                                var region = dataCTBTV.getValue(row, 2)
                                var age = dataCTBTV.getValue(row, 1)
                                getChurnByRegionAndAge(age, region)
                        }
                });

                Highcharts.chart('churn1', {
                        chart: {
                                zoomType: 'xy'
                        },

                        title: {
                                text: ''
                        },

                        colors : ['#73879C','#dc5a78'],

                        xAxis: {
                                categories: categoryAges,
                                title: {
                                        text: 'Contract Age (month)'
                                }
                        },

                        yAxis: [{ // Primary yAxis
                                max: @rs._2.map(x=> x._3).max,
                                tickInterval:0.01,
                                min: @rs._2.map(x=> x._3).min,
                                labels: {
                                        format: '{value}',
                                        style: {
                                                color: "#73879C"
                                        }
                                },
                                title: {
                                        text: '',
                                        style: {
                                                color: "#73879C"
                                        }
                                }
                        }, { // Secondary yAxis
                                title: {
                                        text: '',
                                        style: {
                                                color: "#dc5a78"
                                        }
                                },
                                labels: {
                                        format: '{value}',
                                        style: {
                                                color: "#dc5a78"
                                        }
                                },
                                opposite: true
                        }],

                        plotOptions: {
                                series: {
                                        cursor: 'pointer',
                                        point: {
                                                events: {
                                                        click: function () {
                                                                for (var i = 0; i < this.series.data.length; i++) {
                                                                        this.series.data[i].update({ color: '#73879C' }, true, false);
                                                                }
                                                                this.update({ color: '#ECB631' }, true, false)
                                                                getChurnJsonByAge(this.category)
                                                        }
                                                }
                                        }
                                }
                        },

                        tooltip: {
                                shared: true
                        },

                        series: getJsonChurnMonth(@Html(Json.stringify(Json.toJson(rs._2.map(x=> x._2)))),@Html(Json.stringify(Json.toJson(rs._2.map(x=> x._3)))))

                });

                Highcharts.chart('churn2', {
                        chart: {
                                zoomType: 'xy'
                        },

                        title: {
                                text: ''
                        },
                        plotOptions: {
                                series: {
                                        cursor: 'pointer',
                                        point: {
                                                events: {
                                                        click: function () {
                                                                $('#month').val(this.category)
                                                                for (var i = 0; i < this.series.data.length; i++) {
                                                                        this.series.data[i].update({ color: '#149c7f' }, true, false);
                                                                }
                                                                this.update({ color: '#ECB631' }, true, false)
                                                                getChurnJsonByMonth($('#slStatus').val(),this.category)
                                                        }
                                                }
                                        }
                                }
                        },
                        colors : ['#149c7f','#dc5a78'],

                        xAxis: {
                                categories: @Html(Json.stringify(Json.toJson(rs._3.map(x=>x._1))))
                        },

                        yAxis: [{ // Primary yAxis
                                labels: {
                                        format: '{value}',
                                        style: {
                                                color: "#149c7f"
                                        }
                                },
                                title: {
                                        text: '',
                                        style: {
                                                color: "#149c7f"
                                        }
                                }
                        }, { // Secondary yAxis
                                title: {
                                        text: '',
                                        style: {
                                                color: "#dc5a78"
                                        }
                                },
                                labels: {
                                        format: '{value}',
                                        style: {
                                                color: "#dc5a78"
                                        }
                                },
                                opposite: true
                        }],
                        tooltip: {
                                shared: true
                        },

                        series: getJsonChurnMonth(@Html(Json.stringify(Json.toJson(rs._3.map(x=> x._2)))),@Html(Json.stringify(Json.toJson(rs._3.map(x=> x._3/x._3)))))

                });
        }

        function getJsonByStatus(element){
                $.ajax({
                        url: "/internet/getJsonByStatus?status="+$(element).val()+"&month="+$('#month').val(),
                        cache: false,
                        beforeSend: function () {
                                $('#chartWithOverlay').waitMe({
                                        effect: 'progressBar',
                                        text: 'Please wait...',
                                        bg: 'rgba(255,255,255,0.7)',
                                        color: '#000',
                                        textPos: 'vertical'
                                });
                        },
                        success: function (dta) {
                                if(dta != "Error"){
                                        $('#txtMin').text(dta.minPercent)
                                        $('#txtMax').text(dta.maxPercent)
                                        var container = document.getElementById('container')
                                        var internetChurnSeries = getDataChurn(dta.churnRate)
                                        var data = google.visualization.arrayToDataTable(internetChurnSeries);
                                        var chart = new google.visualization.BubbleChart(container);
                                        google.visualization.events.addListener(chart, 'ready', function () {
                                                Array.prototype.forEach.call(container.getElementsByTagName('text'), function(text) {
                                                        if ((text.getAttribute('text-anchor') === 'end') && (text.getAttribute('fill') === '#444444')) {
                                                                if(text.innerHTML == 0 || text.innerHTML == 8)
                                                                        text.setAttribute('fill-opacity',0)
                                                        }
                                                        // change label age
                                                        if ((text.getAttribute('text-anchor') === 'middle') && (text.getAttribute('fill') === '#444444')) {
                                                                if(text.innerHTML == 0 || text.innerHTML == 72)
                                                                        text.setAttribute('fill-opacity',0)
                                                                else{
                                                                        switch ( text.innerHTML){
                                                                                case "6" :
                                                                                        text.innerHTML = "0-6";break;
                                                                                case "12" :
                                                                                        text.innerHTML = "6-12";break;
                                                                                case "18" :
                                                                                        text.innerHTML = "12-18";break;
                                                                                case "24" :
                                                                                        text.innerHTML = "18-24";break;
                                                                                case "30" :
                                                                                        text.innerHTML = "24-30";break;
                                                                                case "36" :
                                                                                        text.innerHTML = "30-36";break;
                                                                                case "42" :
                                                                                        text.innerHTML = "36-42";break;
                                                                                case "48" :
                                                                                        text.innerHTML = "42-48";break;
                                                                                case "54" :
                                                                                        text.innerHTML = "48-54";break;
                                                                                case "60" :
                                                                                        text.innerHTML = "54-60";break;
                                                                                case "66" :
                                                                                        text.innerHTML = ">60";break;
                                                                        }
                                                                }
                                                        }
                                                });
                                        });
                                        chart.draw(data, options);
                                        google.visualization.events.addListener(chart, 'select', function () {
                                            var selection = chart.getSelection();
                                            if(selection.length>0) {
                                               var row = selection[0].row;
                                               var region = data.getValue(row, 2)
                                               var age = data.getValue(row, 1)
                                               getChurnByRegionAndAge(age, region)
                                            }
                                        });
                                }
                        },
                        complete: function () {
                                $('#chartWithOverlay').waitMe("hide");
                        }
                });
        }

        function getChurnJsonByMonth(status,month){
                $.ajax({
                        url: "/internet/getJsonByMonth?status="+status+"&month="+month,
                        cache: false,
                        beforeSend: function () {
                                $('#chartWithOverlay').waitMe({
                                        effect: 'progressBar',
                                        text: 'Please wait...',
                                        bg: 'rgba(255,255,255,0.7)',
                                        color: '#000',
                                        textPos: 'vertical'
                                });
                                $('#churn1').waitMe({
                                        effect: 'progressBar',
                                        text: 'Please wait...',
                                        bg: 'rgba(255,255,255,0.7)',
                                        color: '#000',
                                        textPos: 'vertical'
                                });
                        },
                        success: function (dta) {
                                if(dta != "Error"){
                                        $('#age').val("")
                                        $('#monthAge').text("("+$('#month').val()+")")
                                        $('#monthRegion').text("("+$('#month').val()+")")
                                        // bubble chart
                                        var container = document.getElementById('container')
                                        var internetChurnSeries = getDataChurn(dta.churnBubbleChart)
                                        var data = google.visualization.arrayToDataTable(internetChurnSeries);
                                        var chart = new google.visualization.BubbleChart(container);
                                        $('#txtMin').text(dta.minPercent)
                                        $('#txtMax').text(dta.maxPercent)
                                        google.visualization.events.addListener(chart, 'ready', function () {
                                                Array.prototype.forEach.call(container.getElementsByTagName('text'), function(text) {
                                                        if ((text.getAttribute('text-anchor') === 'end') && (text.getAttribute('fill') === '#444444')) {
                                                                if(text.innerHTML == 0 || text.innerHTML == 8)
                                                                        text.setAttribute('fill-opacity',0)
                                                        }
                                                        // change label age
                                                        if ((text.getAttribute('text-anchor') === 'middle') && (text.getAttribute('fill') === '#444444')) {
                                                                if(text.innerHTML == 0 || text.innerHTML == 72)
                                                                        text.setAttribute('fill-opacity',0)
                                                                else{
                                                                        switch ( text.innerHTML){
                                                                                case "6" :
                                                                                        text.innerHTML = "0-6";break;
                                                                                case "12" :
                                                                                        text.innerHTML = "6-12";break;
                                                                                case "18" :
                                                                                        text.innerHTML = "12-18";break;
                                                                                case "24" :
                                                                                        text.innerHTML = "18-24";break;
                                                                                case "30" :
                                                                                        text.innerHTML = "24-30";break;
                                                                                case "36" :
                                                                                        text.innerHTML = "30-36";break;
                                                                                case "42" :
                                                                                        text.innerHTML = "36-42";break;
                                                                                case "48" :
                                                                                        text.innerHTML = "42-48";break;
                                                                                case "54" :
                                                                                        text.innerHTML = "48-54";break;
                                                                                case "60" :
                                                                                        text.innerHTML = "54-60";break;
                                                                                case "66" :
                                                                                        text.innerHTML = ">60";break;
                                                                        }
                                                                }
                                                        }
                                                });
                                        });
                                        chart.draw(data, options);
                                        google.visualization.events.addListener(chart, 'select', function () {
                                            var selection = chart.getSelection();
                                            if(selection.length>0){
                                                var row = selection[0].row;
                                                var region = data.getValue(row, 2)
                                                var age = data.getValue(row, 1)
                                                getChurnByRegionAndAge(age,region)
                                            }
                                        });

                                        // churn contract time
                                        Highcharts.chart('churn1', {
                                                chart: {
                                                        zoomType: 'xy'
                                                },

                                                title: {
                                                        text: ''
                                                },

                                                colors : ['#73879C','#dc5a78'],

                                                xAxis: {
                                                        categories: categoryAges,
                                                        title: {
                                                                text: 'Contract Age (month)'
                                                        }
                                                },

                                                yAxis: [{ // Primary yAxis
                                                        max: dta.maxPercent,
                                                        tickInterval:0.01,
                                                        min: dta.minPercent,
                                                        labels: {
                                                                format: '{value}',
                                                                style: {
                                                                        color: "#73879C"
                                                                }
                                                        },
                                                        title: {
                                                                text: '',
                                                                style: {
                                                                        color: "#73879C"
                                                                }
                                                        }
                                                }, { // Secondary yAxis
                                                        title: {
                                                                text: '',
                                                                style: {
                                                                        color: "#dc5a78"
                                                                }
                                                        },
                                                        labels: {
                                                                format: '{value}',
                                                                style: {
                                                                        color: "#dc5a78"
                                                                }
                                                        },
                                                        opposite: true
                                                }],
                                                plotOptions: {
                                                        series: {
                                                                cursor: 'pointer',
                                                                point: {
                                                                        events: {
                                                                                click: function () {
                                                                                        for (var i = 0; i < this.series.data.length; i++) {
                                                                                                this.series.data[i].update({ color: '#73879C' }, true, false);
                                                                                        }
                                                                                        this.update({ color: '#ECB631' }, true, false)
                                                                                        getChurnJsonByAge(this.category)
                                                                                }
                                                                        }
                                                                }
                                                        }
                                                },

                                                tooltip: {
                                                        shared: true
                                                },

                                                series: getJsonChurnMonth(dta.churnRate,dta.churnPercent)

                                        });
                                }
                        },
                        complete: function () {
                                $('#churn1').waitMe("hide");
                                $('#chartWithOverlay').waitMe("hide");
                        }
                });
        }

        function getIdBynameAge(name){
                var age = 0
                switch (name){
                        case "0-6" :
                                age = 6;break;
                        case "6-12" :
                                age = 12;break;
                        case "12-18" :
                                age = 18;break;
                        case "18-24" :
                                age = 24;break;
                        case "24-30" :
                                age = 30;break;
                        case "30-36" :
                                age = 36;break;
                        case "36-42" :
                                age = 42;break;
                        case "42-48" :
                                age = 48;break;
                        case "48-54" :
                                age = 54;break;
                        case "54-60" :
                                age = 60;break;
                        case ">60" :
                                age = 66;break;
                }
                return age
        }

        function getChurnJsonByAge(ageName){
                var age = getIdBynameAge(ageName)
                $.ajax({
                        url: "/internet/getJsonByAge?age=Age:"+age,
                        cache: false,
                        beforeSend: function () {
                                $('#churn2').waitMe({
                                        effect: 'progressBar',
                                        text: 'Please wait...',
                                        bg: 'rgba(255,255,255,0.7)',
                                        color: '#000',
                                        textPos: 'vertical'
                                });
                        },
                        success: function (dta) {
                                if(dta != "Error"){
                                    $('#age').val(age)
                                        Highcharts.chart('churn2', {
                                                chart: {
                                                        zoomType: 'xy'
                                                },

                                                title: {
                                                        text: ''
                                                },

                                                plotOptions: {
                                                        series: {
                                                                cursor: 'pointer',
                                                                point: {
                                                                        events: {
                                                                                click: function () {
                                                                                        $('#month').val(this.category)
                                                                                        for (var i = 0; i < this.series.data.length; i++) {
                                                                                                this.series.data[i].update({ color: '#149c7f' }, true, false);
                                                                                        }
                                                                                        this.update({ color: '#ECB631' }, true, false)
                                                                                        getChurnJsonByMonth($('#slStatus').val(),this.category)
                                                                                }
                                                                        }
                                                                }
                                                        }
                                                },

                                                colors : ['#149c7f','#dc5a78'],

                                                xAxis: {
                                                        categories: categories
                                                },

                                                yAxis: [{ // Primary yAxis
                                                        max: @rs._3.map(x=> x._3).max,
                                                        tickInterval:0.01,
                                                        min:@rs._3.map(x=> x._3).min,
                                                        labels: {
                                                                format: '{value}',
                                                                style: {
                                                                        color: "#149c7f"
                                                                }
                                                        },
                                                        title: {
                                                                text: '',
                                                                style: {
                                                                        color: "#149c7f"
                                                                }
                                                        }
                                                }, { // Secondary yAxis
                                                        title: {
                                                                text: '',
                                                                style: {
                                                                        color: "#dc5a78"
                                                                }
                                                        },
                                                        labels: {
                                                                format: '{value}',
                                                                style: {
                                                                        color: "#dc5a78"
                                                                }
                                                        },
                                                        opposite: true
                                                }],
                                                tooltip: {
                                                        shared: true
                                                },

                                                series: getJsonChurnMonth(dta.churnRate,dta.churnPercent)

                                        });
                                }
                        },
                        complete: function () {
                                $('#churn2').waitMe("hide");
                        }
                });
        }

        function getJsonChurnMonth(churnRate,churnPercent){
                var rs = []
                rs.push({
                        name: "Churn Percent",
                        type: 'column',
                        yAxis: 0,
                        data: churnPercent
                })
                rs.push({
                        name: "Churn Rate",
                        type: 'spline',
                        yAxis: 1,
                        data: churnRate
                });

                return rs
        }

        function getDataChurn(dta){
            var rs = []
            rs.push(['ID', 'Age', 'Region','Rate', 'Percent'])
            for(var i=0;i<dta.length;i++){
                var arr = []
                    arr[0]=''
                    arr[1]=dta[i][1]
                    arr[2]=dta[i][0]
                    arr[3]=dta[i][2]
                    arr[4]=dta[i][3]
                rs.push(arr)
            }
            return rs
        }

        function getChurnByRegionAndAge(age,region){
                //var age = getIdBynameAge(ageName)
                $.ajax({
                        url: "/internet/getChurnByRegionAge?age=Age:"+age+"&region=Region:"+region,
                        cache: false,
                        beforeSend: function () {
                                $('#churn1').waitMe({
                                        effect: 'progressBar',
                                        text: 'Please wait...',
                                        bg: 'rgba(255,255,255,0.7)',
                                        color: '#000',
                                        textPos: 'vertical'
                                });
                                $('#churn2').waitMe({
                                        effect: 'progressBar',
                                        text: 'Please wait...',
                                        bg: 'rgba(255,255,255,0.7)',
                                        color: '#000',
                                        textPos: 'vertical'
                                });
                        },
                        success: function (dta) {
                                if(dta != "Error"){
                                        $('#age').val(age)
                                        $('#monthAge').text("("+$('#month').val()+")")
                                        // churn contract time
                                        Highcharts.chart('churn1', {
                                                chart: {
                                                        zoomType: 'xy'
                                                },

                                                title: {
                                                        text: ''
                                                },

                                                colors : ['#73879C','#dc5a78'],

                                                xAxis: {
                                                        categories: dta.jsChurn1.categories,
                                                        title: {
                                                                text: 'Contract Age (month)'
                                                        }
                                                },

                                                yAxis: [{ // Primary yAxis
                                                        labels: {
                                                                format: '{value}',
                                                                style: {
                                                                        color: "#73879C"
                                                                }
                                                        },
                                                        title: {
                                                                text: '',
                                                                style: {
                                                                        color: "#73879C"
                                                                }
                                                        }
                                                }, { // Secondary yAxis
                                                        title: {
                                                                text: '',
                                                                style: {
                                                                        color: "#dc5a78"
                                                                }
                                                        },
                                                        labels: {
                                                                format: '{value}',
                                                                style: {
                                                                        color: "#dc5a78"
                                                                }
                                                        },
                                                        opposite: true
                                                }],
                                                plotOptions: {
                                                        series: {
                                                                cursor: 'pointer',
                                                                point: {
                                                                        events: {
                                                                                click: function () {
                                                                                        for (var i = 0; i < this.series.data.length; i++) {
                                                                                                this.series.data[i].update({ color: '#73879C' }, true, false);
                                                                                        }
                                                                                        this.update({ color: '#ECB631' }, true, false)
                                                                                        getChurnJsonByAge(this.category)
                                                                                }
                                                                        }
                                                                }
                                                        }
                                                },

                                                tooltip: {
                                                        shared: true
                                                },

                                                series: getJsonChurnMonth(dta.jsChurn1.churnRate,dta.jsChurn1.churnPercent)

                                        });
                                        // churn month
                                        Highcharts.chart('churn2', {
                                                chart: {
                                                        zoomType: 'xy'
                                                },

                                                title: {
                                                        text: ''
                                                },

                                                plotOptions: {
                                                        series: {
                                                                cursor: 'pointer',
                                                                point: {
                                                                        events: {
                                                                                click: function () {
                                                                                        $('#month').val(this.category)
                                                                                        for (var i = 0; i < this.series.data.length; i++) {
                                                                                                this.series.data[i].update({ color: '#149c7f' }, true, false);
                                                                                        }
                                                                                        this.update({ color: '#ECB631' }, true, false)
                                                                                        getChurnJsonByMonth($('#slStatus').val(),this.category)
                                                                                }
                                                                        }
                                                                }
                                                        }
                                                },

                                                colors : ['#149c7f','#dc5a78'],

                                                xAxis: {
                                                        categories: categories
                                                },

                                                yAxis: [{ // Primary yAxis
                                                        max: dta.jsChurn2.max,
                                                        tickInterval:0.01,
                                                        min: dta.jsChurn2.min,
                                                        labels: {
                                                                format: '{value}',
                                                                style: {
                                                                        color: "#149c7f"
                                                                }
                                                        },
                                                        title: {
                                                                text: '',
                                                                style: {
                                                                        color: "#149c7f"
                                                                }
                                                        }
                                                }, { // Secondary yAxis
                                                        title: {
                                                                text: '',
                                                                style: {
                                                                        color: "#dc5a78"
                                                                }
                                                        },
                                                        labels: {
                                                                format: '{value}',
                                                                style: {
                                                                        color: "#dc5a78"
                                                                }
                                                        },
                                                        opposite: true
                                                }],
                                                tooltip: {
                                                        shared: true
                                                },

                                                series: getJsonChurnMonth(dta.jsChurn2.churnRate,dta.jsChurn2.churnPercent)

                                        });
                                }
                        },
                        complete: function () {
                                $('#churn1').waitMe("hide");
                                $('#churn2').waitMe("hide");
                        }
                });
        }

</script>