@(rs: churn.models.CallogResponse)
@import play.api.libs.json.Json
@import services.domain.CommonService
@import churn.utils.AgeGroupUtil

<script type="text/javascript">
        var widthChart  = $(window).width() * 0.8
        var heightChart = $(window).height() * 0.41
        var spaceText = 20
        // small desktop
        if($(window).width() >= 991 && $(window).width()<= 1169){
            widthChart = $(window).width() * 0.6
            heightChart = $(window).height() * 0.52
        }
        // large desktop
        if($(window).width() > 1169){
            widthChart = $(window).width() * 0.4
        }
        if($(window).width() >= 600){
            spaceText = 40
        }
        var options = {
            title: 'Churn Rate (%)',
            hAxis: {
                title: 'Contract Age (month)',
                gridlines: {
                    count: 13,
                    color: 'transparent'
                },
                textStyle : {
                    color:'#1c2752'
                }
            },
            vAxis: {
                title: '',
                gridlines: {
                    count: 9,
                    color: '#f0f0f0'
                }
            },
            chartArea: {
                height: "73%",
                width: "73%",
                left: 150,
                right: 30
            },
            width: widthChart,
            height: heightChart,
            sizeAxis: {
                maxSize: 25
            },
            colorAxis: {colors: ['#F5F6CE', 'green']},
            bubble: {
                textStyle: {
                    auraColor: 'none',
                },
                cursor: 'pointer',
                opacity: 1
            },
            tooltip: {
                trigger: 'none'
            }
        };
        var optionsRegion = {
            title: 'Churn Rate (%)',
            hAxis: {
                title: '',
                gridlines: {
                    count: 14,
                    color: 'transparent'
                },
                viewWindow: {
                  min:0
                },
                textStyle : {
                    color:'#1c2752',
                    fontSize: 11
                }
            },
            vAxis: {
                title: '',
                gridlines: {
                    count: 9,
                    color: '#f0f0f0'
                }
            },
            chartArea: {
                height: "70%",
                width: "73%",
                left: 150,
                right: 20
            },
            width: widthChart,
            height: heightChart,
            sizeAxis: {
                maxSize: 25
            },
            colorAxis: {colors: ['#F6CECE', '#B40404']},
            bubble: {
                textStyle: {
                    auraColor: 'none',
                },
                cursor: 'pointer',
                opacity: 1
            },
            tooltip: {
                trigger: 'none'
            }
        };
        google.load('visualization', '1.0', {
            'packages' : [ 'corechart' ]
        });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            $('.monthPicker').datepicker({
                autoclose: true,
                minViewMode: 1,
                startDate: '-12m',
                endDate: '-1m',
                format: 'yyyy-mm'
            }).on('changeDate', function (selected) {
                var startDate = new Date(selected.date.valueOf());
                var yr = startDate.getFullYear();
                var month = startDate.getMonth() < 9 ? ('0' + Number(startDate.getMonth() + 1)) : (Number(startDate.getMonth() + 1));
                var newDate = yr + '-' + month;
                $('#month').val(newDate)
                // change highlight filters
                $('.monthGrp').removeAttr('style')
            });

            var churn1 = Highcharts.chart('churn1', {
                chart: {
                    zoomType: 'xy'
                },

                title: {
                    text: ''
                },

                colors : ['#f1b53d','#3498DB', '#dc5a78'],

                xAxis: {
                    categories: @Html(Json.stringify(Json.toJson(rs.whoCallIn.map(x=> x._1))))
                },

                yAxis: [{
                    labels: {
                        format: '{value}',
                        style: {
                            color: "#f1b53d"
                        }
                    },
                    title: {
                        text: '',
                        style: {
                            color: "#f1b53d"
                        }
                    }
                }, { // Secondary yAxis
                    title: {
                        text: '',
                        style: {
                            color: "#dc5a78"
                        }
                    },
                    labels: {
                        format: '{value} %',
                        style: {
                            color: "#dc5a78"
                        }
                    },
                    opposite: true
                }],
                // tam remove qua v2
                /*plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                contextmenu: function () {
                                    window.location.href = "/churn/search?contract=Month:"+this.category
                                }
                            }
                        }
                    }
                },*/

                tooltip: {
                    shared: true
                },

                series: getJson2Column1Line(@Html(Json.stringify(Json.toJson(rs.whoCallIn.map(x=> x._2)))),@Html(Json.stringify(Json.toJson(rs.whoCallIn.map(x=> x._3)))), @Html(Json.stringify(Json.toJson(rs.whoCallIn.map(x=> x._4)))), "Count Call")

            });

            var churn2 = Highcharts.chart('churn2', {
                chart: {
                    zoomType: 'xy'
                },

                title: {
                    text: ''
                },

                colors : ['#1ABB9C','#dc5a78'],

                xAxis: {
                    categories: @Html(Json.stringify(Json.toJson(rs.trendCallIn.map(x=> x._1))))
                },

                yAxis: [{
                    labels: {
                        format: '{value} %',
                        style: {
                            color: "#1ABB9C"
                        }
                    },
                    title: {
                        text: '',
                        style: {
                            color: "#1ABB9C"
                        }
                    }
                }, { // Secondary yAxis
                    title: {
                        text: '',
                        style: {
                            color: "#dc5a78"
                        }
                    },
                    labels: {
                        format: '{value} %',
                        style: {
                            color: "#dc5a78"
                        }
                    },
                    opposite: true
                }],

                tooltip: {
                    shared: true
                },
                // tam remove qua v2
                /*plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                contextmenu: function () {
                                    window.location.href = "/churn/search?contract=Month:"+this.category
                                }
                            }
                        }
                    }
                },*/

                series: getJsonChurnMonthByStatus(@Html(Json.stringify(Json.toJson(rs.trendCallIn.map(x=> x._2)))),@Html(Json.stringify(Json.toJson(rs.trendCallIn.map(x=> x._3)))))

            });

            var churn3 = Highcharts.chart('churn3', {
                chart: {
                    type: 'heatmap',
                    marginTop: 20,
                    marginBottom: 70,
                    plotBorderWidth: 1
                },

                title: {
                    text: ''
                },

                xAxis: {
                    categories: @Html(Json.stringify(Json.toJson(rs.callInRegion._1)))
                },

                yAxis: {
                    categories: @Html(Json.stringify(Json.toJson(rs.callInRegion._2.map(x=>x._2).distinct.sorted.map(x=> "Vung " + x)))),
                    title: null
                },

                colorAxis: {
                    minColor: '#FFFFFF',
                    maxColor: '#3498DB'
                },

                legend: {
                    align: 'right',
                    layout: 'vertical',
                    margin: 0,
                    verticalAlign: 'top',
                    y: 25,
                    symbolHeight: 280
                },

                plotOptions: {
                    series: {
                        // tam remove qua v2
                        /*point: {
                            events: {
                                contextmenu: function (event) {
                                    var month = event.point.series.xAxis.categories[event.point.x]
                                    var region = event.point.series.yAxis.categories[event.point.y].split(" ")[1]
                                    window.location.href = "/churn/search?contract=Month:"+month +"_Region:"+region
                                }
                            }
                        },
                        cursor: 'pointer',*/
                        dataLabels:{
                            formatter:function(){
                                var nf = new Intl.NumberFormat();
                                return nf.format(this.point.value)+" %";
                            }
                        }
                    }
                },

                tooltip: {
                    formatter: function () {
                        return 'Month: <b>' + this.series.xAxis.categories[this.point.x] +'</b><br/>Region: <b>'+ this.series.yAxis.categories[this.point.y] + '</b><br/>Number of contracts: <b>' +
                                this.point.name +'</b>';
                    }
                },

                series: [{
                    name: 'total contracts',
                    borderWidth: '0.03px',
                    borderColor:'#3498DB',
                    data: getdataHeatMapRegionMonth(@Html(Json.stringify(Json.toJson(rs.callInRegion._2))), @Html(Json.stringify(Json.toJson(rs.callInRegion._2.map(x=>x._1).distinct.sorted))),@Html(Json.stringify(Json.toJson(rs.callInRegion._2.map(x=>x._2).distinct.sorted)))),
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        style: {
                            "fontSize": "10px"
                        }
                    }
                }]

            });

            var mouseX;
            var mouseY;
            $(document).mousemove(function(e) {
                if($(window).width() < 992){
                    mouseY = e.pageY - 790
                }
                else{
                    mouseY = e.pageY -290;
                }
            });

            function handlerOut() {
                $('.custom_tooltip').fadeOut('fast');
            }
            // trend region and month charts bubble
            var container4    = document.getElementById('churn4')
            var catesMonthRegion   = @Html(Json.stringify(Json.toJson(rs.trendRegionMonth._1)))
            var trendRegionHuyDv = getDataChurn(@Html(Json.stringify(Json.toJson(rs.trendRegionMonth._2))), "Month", "Region")
            var dataRegionHuyDv = google.visualization.arrayToDataTable(trendRegionHuyDv)
            var chartRegionHuyDv = new google.visualization.BubbleChart(container4)
            google.visualization.events.addListener(chartRegionHuyDv, 'ready', function () {
                Array.prototype.forEach.call(container4.getElementsByTagName('text'), function(text) {
                    if ((text.getAttribute('text-anchor') === 'end') && (text.getAttribute('fill') === '#444444')) {
                        if(text.innerHTML == 0 || text.innerHTML == 8)
                            text.setAttribute('fill-opacity',0)
                        text.innerHTML = "Vung "+text.innerHTML
                    }
                    // change label month
                    if ((text.getAttribute('text-anchor') === 'middle') && (text.getAttribute('fill') === '#1c2752')) {
                        if(Object.keys(catesMonthRegion).length == 1){
                            if (text.innerHTML == 0.5 || text.innerHTML == 0.0 || text.innerHTML == 1.5)
                                text.setAttribute('fill-opacity', 0)
                            else {
                                if(text.innerHTML == 1.0){
                                    text.innerHTML = keyByValue(catesMonthRegion, 1)
                                }
                            }
                        }
                        else {
                            if (text.innerHTML == 0 || text.innerHTML == Object.keys(catesMonthRegion).length + 1)
                                text.setAttribute('fill-opacity', 0)
                            else {
                                text.innerHTML = keyByValue(catesMonthRegion, Number(text.innerHTML))
                            }
                        }
                    }
                });
            });
            if(Object.keys(catesMonthRegion).length == 1)
                optionsRegion.hAxis.gridlines.count = 4
            else
                optionsRegion.hAxis.gridlines.count = Object.keys(catesMonthRegion).length+2
            chartRegionHuyDv.draw(dataRegionHuyDv, optionsRegion);
            // tam remove qua v2
            /*google.visualization.events.addListener(chartRegionHuyDv, 'onmousedown', function (event) {
                document.oncontextmenu = function() {
                    var month = dataRegionHuyDv.getValue(Number(event.targetID.split('#')[2]), 1)
                    var region = dataRegionHuyDv.getValue(Number(event.targetID.split('#')[2]), 2)
                    window.location.href = "/churn/search?contract=Month:"+keyByValue(catesMonthRegion, month)+"_Region:"+region
                };
            });*/
            google.visualization.events.addListener(chartRegionHuyDv, 'onmouseover', function (event) {
                var rate = dataRegionHuyDv.getValue(event.row, 3);
                var xAxis = dataRegionHuyDv.getValue(event.row, 1);
                var yAxis = dataRegionHuyDv.getValue(event.row, 2);
                var percent = dataRegionHuyDv.getValue(event.row, 4);
                var contracts = dataRegionHuyDv.getValue(event.row, 5);
                var x = mouseX - 225;
                if($(window).width() < 992){
                    mouseY = mouseY - 870
                }
                else{
                    mouseY = mouseY -450
                }
                var y = mouseY
                $('#churn4_tooltip').html('<div><p><b>Month:</b> ' + keyByValue(catesMonthRegion, xAxis) +'</p><p><b>Region:</b> '+ yAxis +
                        '</p><p><b>Rate:</b> '+ rate +' %</p><p><b>Percent:</b> '+ percent +' %</p><p><b>Number of contract:</b> '+contracts+'</p></div>').css({
                    'top': y,
                    'left': x
                }).fadeIn('slow');
            });
            google.visualization.events.addListener(chartRegionHuyDv, 'onmouseout', handlerOut);

            var churn5 = Highcharts.chart('churn5', {
                chart: {
                    type: 'heatmap',
                    marginTop: 20,
                    marginBottom: 70,
                    plotBorderWidth: 1
                },

                title: {
                    text: ''
                },

                xAxis: {
                    categories: @Html(Json.stringify(Json.toJson(rs.callInRegionAge.map(x=> x._1.toInt).distinct.sorted.map(x=> AgeGroupUtil.getAgeById(x)))))
                },

                yAxis: {
                    categories: @Html(Json.stringify(Json.toJson(rs.callInRegionAge.map(x=>x._2).distinct.sorted.map(x=> "Vung " + x)))),
                    title: null
                },

                colorAxis: {
                    minColor: '#FFFFFF',
                    maxColor: '#6495ED'
                },

                plotOptions: {
                    series: {
                        point: {
                            events: {
                                click: function (event) {
                                    var age = getIdBynameAge(event.point.series.xAxis.categories[event.point.x])
                                    var region = event.point.series.yAxis.categories[event.point.y].split(" ")[1]
                                    //$('.txtCate').text("")
                                    //$('.cateDiv').hide()
                                    if(age == $('#age').val() && region == $('#region').val()){
                                        $('#region').val("")
                                        $('#age').val("")
                                        $('.txtAge').text("")
                                        $('.ageDiv').hide()
                                        $('.txtRegion').text("")
                                        $('.regionDiv').hide()
                                    }
                                    else{
                                        $('#region').val(region)
                                        $('#age').val(age)
                                        $('.txtAge').text(getNameByIdAge(age))
                                        $('.ageDiv').show()
                                        $('.txtRegion').text("Vung "+region)
                                        $('.regionDiv').show()
                                    }
                                    //$('#cateCurr').val("")
                                    ajaxGetChurnCallIn("churn5")
                                }
                                // tam remove qua v2
                                /*,
                                contextmenu: function (event) {
                                    var age = event.point.series.xAxis.categories[event.point.x]
                                    if(age == "06-12") age = "6-12"
                                    var region = event.point.series.yAxis.categories[event.point.y].split(" ")[1]
                                    window.location.href = "/churn/search?contract=Age:"+age +"_Region:"+region
                                }*/
                            }
                        },
                        dataLabels:{
                            formatter:function(){
                                var nf = new Intl.NumberFormat();
                                return nf.format(this.point.value)+" %";
                            }
                        },
                        cursor: 'pointer'
                    }
                },

                legend: {
                    align: 'right',
                    layout: 'vertical',
                    margin: 0,
                    verticalAlign: 'top',
                    y: 25,
                    symbolHeight: 280
                },

                tooltip: {
                    formatter: function () {
                        return 'LifeGroup: <b>' + this.series.xAxis.categories[this.point.x] +'</b><br/>Region: <b>'+ this.series.yAxis.categories[this.point.y] + '</b><br/>Number of contracts: <b>' +
                                this.point.name +'</b>';
                    }
                },

                series: [{
                    name: 'total contracts',
                    borderWidth: '0.03px',
                    borderColor:'#6495ED',
                    data: getdataHeatMapRegionMonth(@Html(Json.stringify(Json.toJson(rs.callInRegionAge))), @Html(Json.stringify(Json.toJson(rs.callInRegionAge.map(x=>x._1.toInt).distinct.sorted))),@Html(Json.stringify(Json.toJson(rs.callInRegionAge.map(x=>x._2).distinct.sorted)))),
                    dataLabels: {
                        enabled: true,
                        style: {
                            "fontSize": "10px"
                        }
                    }
                }]

            });

            // trend region and age charts bubble
            var container = document.getElementById('churn6')
            var catesAge = @Html(Json.stringify(Json.toJson(AgeGroupUtil.AGE)))
            var callInHuyDv = getDataChurn(@Html(Json.stringify(Json.toJson(rs.callRegionAge))), "Month", "Age")
            var dataHuyDv = google.visualization.arrayToDataTable(callInHuyDv)
            var chartHuyDv = new google.visualization.BubbleChart(container);
            google.visualization.events.addListener(chartHuyDv, 'ready', function () {
                Array.prototype.forEach.call(container.getElementsByTagName('text'), function(text) {
                    if ((text.getAttribute('text-anchor') === 'end') && (text.getAttribute('fill') === '#444444')) {
                        if(text.innerHTML == 0 || text.innerHTML == 8)
                            text.setAttribute('fill-opacity',0)
                        text.innerHTML = "Vung "+text.innerHTML
                    }
                    // change label age
                    if ((text.getAttribute('text-anchor') === 'middle') && (text.getAttribute('fill') === '#1c2752')) {
                        if(text.innerHTML == 0 || text.innerHTML == 72)
                            text.setAttribute('fill-opacity',0)
                        else{
                            switch ( text.innerHTML){
                                case "6" :
                                    text.innerHTML = "0-6";break;
                                case "12" :
                                    text.innerHTML = "06-12";break;
                                case "18" :
                                    text.innerHTML = "12-18";break;
                                case "24" :
                                    text.innerHTML = "18-24";break;
                                case "30" :
                                    text.innerHTML = "24-30";break;
                                case "36" :
                                    text.innerHTML = "30-36";break;
                                case "42" :
                                    text.innerHTML = "36-42";break;
                                case "48" :
                                    text.innerHTML = "42-48";break;
                                case "54" :
                                    text.innerHTML = "48-54";break;
                                case "60" :
                                    text.innerHTML = "54-60";break;
                                case "66" :
                                    text.innerHTML = ">60";break;
                            }
                        }
                    }
                });
            });
            chartHuyDv.draw(dataHuyDv, options);
            google.visualization.events.addListener(chartHuyDv, 'select', function () {
                var selection = chartHuyDv.getSelection()
                //$('.txtCate').text("")
                //$('.cateDiv').hide()
                if(selection.length >0) {
                    var row = selection[0].row;
                    var region = dataHuyDv.getValue(row, 2)
                    var age = dataHuyDv.getValue(row, 1)
                    $('#age').val(age)
                    $('#region').val(region)
                    $('.txtAge').text(getNameByIdAge(age))
                    $('.ageDiv').show()
                    $('.txtRegion').text("Vung "+region)
                    $('.regionDiv').show()
                }
                else{
                    $('#age').val("")
                    $('#region').val("")
                    $('.txtAge').text("")
                    $('.ageDiv').hide()
                    $('.txtRegion').text("")
                    $('.regionDiv').hide()
                }
                //$('#cateCurr').val("")
                ajaxGetChurnCallIn("churn6")
            });
            // tam remove qua v2
            /*google.visualization.events.addListener(chartHuyDv, 'onmousedown', function (event) {
                document.oncontextmenu = function() {
                    var age = dataHuyDv.getValue(Number(event.targetID.split('#')[2]), 1)
                    var ageGroup = keyByValue(catesAge, age)
                    if(ageGroup == "06-12") ageGroup = "6-12"
                    var region = dataHuyDv.getValue(Number(event.targetID.split('#')[2]), 2)
                    window.location.href = "/churn/search?contract=Age:"+ageGroup+"_Region:"+region
                };
            });*/
            google.visualization.events.addListener(chartHuyDv, 'onmouseover', function (event) {
                var rate = dataHuyDv.getValue(event.row, 3);
                var xAxis = dataHuyDv.getValue(event.row, 1);
                var yAxis = dataHuyDv.getValue(event.row, 2);
                var percent = dataHuyDv.getValue(event.row, 4);
                var contracts = dataHuyDv.getValue(event.row, 5);
                var x = mouseX - 225;
                if($(window).width() < 992){
                    mouseY = mouseY - 870
                }
                else{
                    mouseY = mouseY -450
                }
                var y = mouseY
                $('#churn6_tooltip').html('<div><p><b>Age:</b> ' + keyByValue( catesAge, xAxis) +'</p><p><b>Region:</b> '+ yAxis +
                        '</p><p><b>Rate:</b> '+ rate +' %</p><p><b>Percent:</b> '+ percent +' %</p><p><b>Number of contract:</b> '+contracts+'</p></div>').css({
                    'top': y,
                    'left': x
                }).fadeIn('slow');
            });
            google.visualization.events.addListener(chartHuyDv, 'onmouseout', handlerOut);

            var churn7 = Highcharts.chart('churn7', {
                chart: {
                    zoomType: 'xy'
                },

                title: {
                    text: ''
                },

                colors : ['#FFAA00','#872E2E'],

                xAxis: {
                    categories: @Html(Json.stringify(Json.toJson(rs.churnCates.map(x=> x._1))))
                },

                yAxis: [{
                    labels: {
                        format: '{value} %',
                        style: {
                            color: "#FFAA00"
                        }
                    },
                    title: {
                        text: '',
                        style: {
                            color: "#FFAA00"
                        }
                    }
                }, { // Secondary yAxis
                    title: {
                        text: '',
                        style: {
                            color: "#872E2E"
                        }
                    },
                    labels: {
                        format: '{value} %',
                        style: {
                            color: "#872E2E"
                        }
                    },
                    opposite: true
                }],

                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {
                                    //$('#age').val("")
                                    //$('#region').val("")
                                    //$(".monthPicker").datepicker("update", $('#monthCurr').val())
                                    //$('#month').val($('#monthCurr').val())
                                    /*$('.txtAge').text("")
                                    $('.ageDiv').hide()
                                    $('.txtRegion').text("")
                                    $('.regionDiv').hide()*/
                                    if(this.category == $('#cateCurr').val()){
                                        $('#cateCurr').val("")
                                        $('.cateDiv').hide()
                                        $('.txtCate').text("")
                                    }
                                    else {
                                        $('.cateDiv').show()
                                        $('.txtCate').text(this.category)
                                        $('#cateCurr').val(this.category)
                                    }
                                    ajaxGetChurnCallIn("churn7")
                                }
                            }
                        }
                    }
                },

                tooltip: {
                    shared: true
                },

                series: getJsonChurnMonth(@Html(Json.stringify(Json.toJson(rs.churnCates.map(x=> x._2)))),@Html(Json.stringify(Json.toJson(rs.churnCates.map(x=> x._3)))))

            });

            $('.nav-tabs li').click(function () {
                var tabCurr = $('.nav-tabs li.active').find('a').attr('class')
                var tab = $(this).find('a').attr('class')
                if(tabCurr != tab){
                    $('.nav-tabs li').removeClass('in').removeClass('active')
                    $('.panel-body .tab-pane').removeClass('in').removeClass('active')
                    $('#'+tab).addClass('in').addClass('active')
                    $(this).addClass('in').addClass('active')
                }
            })
            // click filter Status
            $('.slStatus').on('change',function () {
                // remove highlight filters
                $('.slStatus').removeAttr('style')
            })
            // click apply fitler
            $('.apply').click(function () {
                /*$('#region').val("")
                $('#age').val("")
                $('#cateCurr').val("")
                $('.txtAge').text("")
                $('.ageDiv').hide()
                $('.txtRegion').text("")
                $('.regionDiv').hide()
                $('.txtCate').text("")
                $('.cateDiv').hide()*/
                ajaxGetChurnCallIn("*")
            })

            // click refresh fitler
            $('.refresh').click(function () {
                $('#region').val("")
                $('#age').val("")
                $('#cateCurr').val("")
                $(".monthPicker").datepicker("update", $('#monthCurr').val())
                $('#month').val($('#monthCurr').val())
                $('.slStatus').val("1")
                $('.txtAge').text("")
                $('.ageDiv').hide()
                $('.txtRegion').text("")
                $('.regionDiv').hide()
                $('.txtCate').text("")
                $('.cateDiv').hide()
                ajaxGetChurnCallIn("*")
            })

            function ajaxGetChurnCallIn(_type){
                var fields = getParamFields(document.querySelector('input[name=csrfToken]').value)
                $.ajax({
                    url: "/internet/calllog/getJsonChurn",
                    cache: false,
                    data:  fields,
                    type:"POST",
                    beforeSend: function () {
                        $('.divLeft').waitMe({
                            effect: 'progressBar',
                            text: 'Please wait...',
                            bg: 'rgba(255,255,255,0.7)',
                            color: '#000',
                            textPos: 'vertical'
                        });
                    },
                    success: function (dta) {
                        if(dta != "Error"){
                            $('#cateArr').val(dta.categories)
                            // change highlight filters
                            $('.slStatus').attr('style','border:1px solid #16a085!important')
                            $('.slRegion').attr('style','border:1px solid #16a085!important')
                            $('.monthGrp').attr('style','background-color: #16a085!important;color: #fff')
                            // update chart 1
                            churn1.xAxis[0].update({categories: dta.churn1.cates})
                            updateCharts(churn1, getJson2Column1Line(dta.churn1.count_ct, dta.churn1.churnPercent, dta.churn1.count_all, "Count Call"))

                            // update chart 2
                            churn2.xAxis[0].update({categories: dta.churn2.cates});
                            updateCharts(churn2, getJsonChurnMonthByStatus(dta.churn2.churnRate, dta.churn2.churnPercent))

                            // update chart Heatmap 3
                            churn3.xAxis[0].update({categories: dta.churn3.xAxis})
                            churn3.yAxis[0].update({categories: dta.churn3.yAxis})
                            churn3.series[0].setData(getdataHeatMapRegionMonth(dta.churn3.data, dta.churn3.arrMonth, dta.churn3.arrRegion ), true,true,false)

                            // update chart Heatmap 5
                            if(_type != "churn5") {
                                churn5.xAxis[0].update({categories: dta.churn5.xAxis})
                                churn5.yAxis[0].update({categories: dta.churn5.yAxis})
                                churn5.series[0].setData(getdataHeatMapRegionMonth(dta.churn5.data, dta.churn5.arrAge, dta.churn5.arrRegion), true, true, false)
                            }
                            // update chart 7
                            if(_type != "churn7") {
                                churn7.xAxis[0].update({categories: dta.churn7.cates});
                                updateCharts(churn7, getJsonChurnMonth(dta.churn7.churnRate, dta.churn7.churnPercent))
                            }

                            // update chart 4 For Contracts Who Call in: Trend in Churn Rate and Churn Percentage by Region
                            if(dta.churn4.data.length <= 0){
                                $('#churn4_overlay').hide()
                                $('#churn4').hide()
                            }
                            else{
                                $('#churn4_overlay').show()
                                $('#churn4').show()
                            }
                            $('#churn4_txtMin').text(dta.churn4.minPercent)
                            $('#churn4_txtMax').text(dta.churn4.maxPercent)
                            $('#churn4_circle2').text(Number(dta.churn4.minPercent + (dta.churn4.maxPercent-dta.churn4.minPercent)/5*2).toFixed(2))
                            $('#churn4_circle3').text(Number(dta.churn4.minPercent + (dta.churn4.maxPercent-dta.churn4.minPercent)/5*3).toFixed(2))
                            var chartRegionMonth  = new google.visualization.BubbleChart(document.getElementById('churn4'))
                            google.visualization.events.addListener(chartRegionMonth, 'ready', function () {
                                Array.prototype.forEach.call(document.getElementById('churn4').getElementsByTagName('text'), function(text) {
                                    if ((text.getAttribute('text-anchor') === 'end') && (text.getAttribute('fill') === '#444444')) {
                                        if(text.innerHTML == 0 || text.innerHTML == 8)
                                            text.setAttribute('fill-opacity',0)
                                        text.innerHTML = "Vung "+text.innerHTML
                                    }
                                    // change label month
                                    if ((text.getAttribute('text-anchor') === 'middle') && (text.getAttribute('fill') === '#1c2752')) {
                                        if(Object.keys(dta.churn4.catesMonth).length == 1){
                                            if (text.innerHTML == 0.5 || text.innerHTML == 0.0 || text.innerHTML == 1.5)
                                                text.setAttribute('fill-opacity', 0)
                                            else {
                                                if(text.innerHTML == 1.0){
                                                    text.innerHTML = keyByValue(dta.churn4.catesMonth, 1)
                                                }
                                            }
                                        }
                                        else {
                                            if (text.innerHTML == 0 || text.innerHTML == Object.keys(dta.churn4.catesMonth).length + 1)
                                                text.setAttribute('fill-opacity', 0)
                                            else {
                                                text.innerHTML = keyByValue(dta.churn4.catesMonth, Number(text.innerHTML)) ;
                                            }
                                        }
                                    }
                                });
                            });
                            var dataRegionMonth = google.visualization.arrayToDataTable(getDataChurn(dta.churn4.data, "Month", "Region"))
                            if(Object.keys(dta.churn4.catesMonth).length == 1)
                                optionsRegion.hAxis.gridlines.count = 4
                            else
                                optionsRegion.hAxis.gridlines.count = Object.keys(dta.churn4.catesMonth).length+2
                            chartRegionMonth.draw(dataRegionMonth, optionsRegion)
                            // tam remove qua v2
                            /*google.visualization.events.addListener(chartRegionMonth, 'onmousedown', function (event) {
                                document.oncontextmenu = function() {
                                    var month = dataRegionMonth.getValue(Number(event.targetID.split('#')[2]), 1)
                                    var region = dataRegionMonth.getValue(Number(event.targetID.split('#')[2]), 2)
                                    window.location.href = "/churn/search?contract=Month:"+keyByValue(dta.churn4.catesMonth, month)+"_Region:"+region
                                };
                            });*/
                            google.visualization.events.addListener(chartRegionMonth, 'onmouseover', function (event) {
                                var rate = dataRegionMonth.getValue(event.row, 3);
                                var xAxis = dataRegionMonth.getValue(event.row, 1);
                                var yAxis = dataRegionMonth.getValue(event.row, 2);
                                var percent = dataRegionMonth.getValue(event.row, 4);
                                var contracts = dataRegionMonth.getValue(event.row, 5);
                                var x = mouseX - 225;
                                if($(window).width() < 992){
                                    mouseY = mouseY - 870
                                }
                                else{
                                    mouseY = mouseY -450
                                }
                                var y = mouseY
                                $('#churn4_tooltip').html('<div><p><b>Month:</b> ' + keyByValue(dta.churn4.catesMonth, xAxis) +'</p><p><b>Region:</b> '+ yAxis +
                                        '</p><p><b>Rate:</b> '+ rate +' %</p><p><b>Percent:</b> '+ percent +' %</p><p><b>Number of contracts: </b>'+contracts+'</p></div>').css({
                                    'top': y,
                                    'left': x
                                }).fadeIn('slow');
                            });
                            google.visualization.events.addListener(chartRegionMonth, 'onmouseout', handlerOut);

                            // update chart 6 For Contracts Who Call In: Churn Rate and Churn Percentage by Region by Contract Age
                            if(_type != "churn6") {
                                if (dta.churn6.data.length <= 0) {
                                    $('#churn6_overlay').hide()
                                    $('#churn6').hide()
                                }
                                else {
                                    $('#churn6_overlay').show()
                                    $('#churn6').show()
                                }
                                $('#churn6_txtMin').text(dta.churn6.minPercent)
                                $('#churn6_txtMax').text(dta.churn6.maxPercent)
                                $('#churn6_circle2').text(Number(dta.churn6.minPercent + (dta.churn6.maxPercent - dta.churn6.minPercent) / 5 * 2).toFixed(2))
                                $('#churn6_circle3').text(Number(dta.churn6.minPercent + (dta.churn6.maxPercent - dta.churn6.minPercent) / 5 * 3).toFixed(2))
                                var chartRegionAge = new google.visualization.BubbleChart(document.getElementById('churn6'))
                                google.visualization.events.addListener(chartRegionAge, 'ready', function () {
                                    Array.prototype.forEach.call(document.getElementById('churn6').getElementsByTagName('text'), function (text) {
                                        if ((text.getAttribute('text-anchor') === 'end') && (text.getAttribute('fill') === '#444444')) {
                                            if (text.innerHTML == 0 || text.innerHTML == 8)
                                                text.setAttribute('fill-opacity', 0)
                                            text.innerHTML = "Vung "+text.innerHTML
                                        }
                                        // change label age
                                        if ((text.getAttribute('text-anchor') === 'middle') && (text.getAttribute('fill') === '#1c2752')) {
                                            if (text.innerHTML == 0 || text.innerHTML == 72)
                                                text.setAttribute('fill-opacity', 0)
                                            else {
                                                switch (text.innerHTML) {
                                                    case "6" :
                                                        text.innerHTML = "0-6";
                                                        break;
                                                    case "12" :
                                                        text.innerHTML = "06-12";
                                                        break;
                                                    case "18" :
                                                        text.innerHTML = "12-18";
                                                        break;
                                                    case "24" :
                                                        text.innerHTML = "18-24";
                                                        break;
                                                    case "30" :
                                                        text.innerHTML = "24-30";
                                                        break;
                                                    case "36" :
                                                        text.innerHTML = "30-36";
                                                        break;
                                                    case "42" :
                                                        text.innerHTML = "36-42";
                                                        break;
                                                    case "48" :
                                                        text.innerHTML = "42-48";
                                                        break;
                                                    case "54" :
                                                        text.innerHTML = "48-54";
                                                        break;
                                                    case "60" :
                                                        text.innerHTML = "54-60";
                                                        break;
                                                    case "66" :
                                                        text.innerHTML = ">60";
                                                        break;
                                                }
                                            }
                                        }
                                    });
                                });
                                var dataRegionAge = google.visualization.arrayToDataTable(getDataChurn(dta.churn6.data, "Month", "Age"))
                                chartRegionAge.draw(dataRegionAge, options)
                                google.visualization.events.addListener(chartRegionAge, 'select', function () {
                                    var selection = chartRegionAge.getSelection()
                                    $('.txtCate').text("")
                                    $('.cateDiv').hide()
                                    if (selection.length > 0) {
                                        var row = selection[0].row;
                                        var region = dataRegionAge.getValue(row, 2)
                                        var age = dataRegionAge.getValue(row, 1)
                                        $('#age').val(age)
                                        $('#region').val(region)
                                        $('.txtAge').text(getNameByIdAge(age))
                                        $('.ageDiv').show()
                                        $('.txtRegion').text("Vung "+region)
                                        $('.regionDiv').show()
                                    }
                                    else {
                                        $('#age').val("")
                                        $('#region').val("")
                                        $('.txtAge').text("")
                                        $('.ageDiv').hide()
                                        $('.txtRegion').text("")
                                        $('.regionDiv').hide()
                                    }
                                    $('#cateCurr').val("")
                                    ajaxGetChurnCallIn("churn6")
                                });
                                // tam remove qua v2
                                /*google.visualization.events.addListener(chartRegionAge, 'onmousedown', function (event) {
                                    document.oncontextmenu = function() {
                                        var age = dataRegionAge.getValue(Number(event.targetID.split('#')[2]), 1)
                                        var ageGroup = keyByValue(catesAge, age)
                                        if(ageGroup == "06-12") ageGroup = "6-12"
                                        var region = dataRegionAge.getValue(Number(event.targetID.split('#')[2]), 2)
                                        window.location.href = "/churn/search?contract=Age:"+ageGroup+"_Region:"+region
                                    };
                                });*/
                                google.visualization.events.addListener(chartRegionAge, 'onmouseover', function (event) {
                                    var rate = dataRegionAge.getValue(event.row, 3);
                                    var xAxis = dataRegionAge.getValue(event.row, 1);
                                    var yAxis = dataRegionAge.getValue(event.row, 2);
                                    var percent = dataRegionAge.getValue(event.row, 4);
                                    var contracts = dataRegionAge.getValue(event.row, 5);
                                    var x = mouseX - 225;
                                    if($(window).width() < 992){
                                        mouseY = mouseY - 870
                                    }
                                    else{
                                        mouseY = mouseY -450
                                    }
                                    var y = mouseY
                                    $('#churn6_tooltip').html('<div><p><b>Age:</b> ' + keyByValue(catesAge, xAxis) + '</p><p><b>Region:</b> ' + yAxis +
                                            '</p><p><b>Rate:</b> ' + rate + ' %</p><p><b>Percent:</b> ' + percent + ' %</p><p><b>Number of contract:</b> ' + contracts + '</p></div>').css({
                                        'top': y,
                                        'left': x
                                    }).fadeIn('slow');
                                });
                                google.visualization.events.addListener(chartRegionAge, 'onmouseout', handlerOut);
                            }
                        }
                        else{
                            alert("Error when excute query. Please check again your system!")
                        }

                    },
                    complete: function () {
                        $('.divLeft').waitMe("hide");
                    }
                });
            }
        }

        function getParamFields(token){
            var obj = {
                "csrfToken" : token,
                "region"    : $('#region').val(),
                "age"       : $('#age').val(),
                "cateCurr"  : $('#cateCurr').val(),
                "topCate"   : $('#cateArr').val(),
                "month"     : $('#month').val(),
                "status"    : $('.slStatus').val()
            }
            return obj
        }

        function getdataHeatMapRegionMonth(dta, arrMonth, arrRegion){
            var rs = []
            for(var month =0; month< arrMonth.length; month++){
                for(var region =0; region< arrRegion.length; region++){
                    for(var i=0; i< dta.length ;i++){
                        if(dta[i][0] == arrMonth[month] && dta[i][1] == arrRegion[region]){
                            rs.push({
                                x: month,
                                y: region,
                                value: dta[i][2],
                                name: dta[i][3]
                            })
                        }
                    }
                }
            }
            //console.log(rs)
            return rs
        }

        function getJsonChurnMonthByStatus(churnRate, churnPercent){
            var rs = []
            rs.push({
                name: ($('.slStatus').val() == 0? "Percent":"Churn Percent"),
                type: 'column',
                yAxis: 0,
                data: churnPercent
            })
            rs.push({
                name: ($('.slStatus').val() == 0? "Rate":"Churn Rate"),
                type: 'spline',
                yAxis: 1,
                data: churnRate
            });

            return rs
        }

        function getDataChurn(dta, cateX, cateY){
            var rs = []
            rs.push(['ID', cateX, cateY,'Rate', 'Percent','Contract'])
            for(var i=0;i<dta.length;i++){
                var arr = []
                arr[0]=''
                arr[1]=dta[i][1]
                arr[2]=dta[i][0]
                arr[3]=dta[i][2]
                arr[4]=dta[i][3]
                arr[5]=dta[i][4]
                rs.push(arr)
            }
            return rs
        }

</script>