@(rs: churn.models.DetectResponse, month: String, email: String ,postUrl: Call)(implicit request: RequestHeader)

@import services.domain.CommonService.formatNumber
@import services.domain.CommonService.percent
@import services.domain.CommonService.format3Decimal
@import services.domain.CommonService.formatPattern
@import churn.utils.CommonUtil
@import churn.utils.AgeGroupUtil

<!DOCTYPE html>

<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Churn Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
        <link rel="stylesheet" href="/assets/otherLayout/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/owl.carousel.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/owl.theme.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/owl.transitions.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/animate.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/meanmenu.min.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/main.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/educate-custon-icon.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/scrollbar/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/metisMenu/metisMenu.min.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/metisMenu/metisMenu-vertical.css">
        <link rel="stylesheet" href="/assets/otherLayout/style.css">
        <link rel="stylesheet" href="/assets/otherLayout/css/responsive.css">
        <link rel="stylesheet" href="/assets/custom/css/waitMe.css">
        <link href="/assets/custom/css/orgChart.css" rel="stylesheet">
        <link href="/assets/datatables/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
        <link href="/assets/datatables/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
        <link href="/assets/datatables/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
        <link href="/assets/datatables/datatables.net-fixedColumn/css/fixedColumn.bootstrap.min.css" rel="stylesheet">
            <!-- bootstrap-daterangepicker -->
        <link href="/assets/datepicker/css/bootstrap-datepicker.css" rel="stylesheet">
        <script src="/assets/otherLayout/js/vendor/modernizr-2.8.3.min.js"></script>
        <style>
                .aHeader{
                    font-size: 24px;
                    color: #4292c6!important;
                    font-weight: 600;
                }
                .btn-export{
                    float: right;
                    color: #fff!important;
                    margin: 0px 15px 0px 0px!important;
                }
                .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
                    color: #16a085;
                    font-weight: 600;
                    cursor: default;
                    background-color: #fff;
                    border: 1px solid #fff;
                    border-bottom-color: transparent;
                }
                .nav-tabs>li>a:hover{
                    background: #1c2752;
                }
                .nav-tabs>li>a{
                    color: #fff;
                }

                .panel-primary{
                    border-color: #ddd;
                }

                .panel-primary>.panel-heading{
                    background-color: #1c2752;
                }
                .panel-heading {

                    padding: 10px 10px 0px !important;
                    border-bottom: 0px solid transparent !important;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;

                }
                .txtFilter{
                    color: #fff; background: #16a085;padding: 2px
                }
                .txtInput{
                    text-align: center;cursor: pointer;background-color: white!important;height: 20px
                }

                .activeLi{
                    background: #16a085;
                }
                .text-smInTab{
                    float: right;
                    color: #81f1f1!important;
                    font-size: 16px!important;
                }
                .text-lgInTab{
                    color: #ad1607!important;
                    font-size: 28px!important;
                }

                .boxInTab{
                    padding: 10px;
                    background-color: #73879C!important;
                }
                .boxCss{
                    border: 1px solid #ddd;
                    margin-bottom: 10px;
                }
                .boxText2{
                    height: 130px;
                    padding: 10px;
                }
                .boxText2:hover{
                    background-color: #0c91e5!important;
                }
                .titLbInTab{
                    position: relative;
                    margin: 0 0 0 10px;
                    z-index: 5;
                    padding: 0;
                    color: #fff;
                    font-size: 16px;
                }
                .count{
                    padding-left: 10px;
                }
                .titLb{
                    position: relative;
                    margin: 0 0 0 10px;
                    z-index: 5;
                    padding: 0;
                    font-size: 24px;
                }
                .ibox{
                    float: right;
                    margin-top: 5px;
                    margin-right: 5px;
                }
                .iboxInTab{
                    float: right;
                    margin-right: 5px;
                }
                .txtControl{
                    margin-top: 5px;
                    padding: 6px 12px;
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #fff;
                    max-width: 200px;
                    background-color: #16a085;
                }
                .custom_tooltip{
                    position: absolute;
                    z-index: 1000;
                    opacity: 1!important;
                    color: #0D3349;
                    border: 1px solid #ddd;
                    background: white;
                    padding: 10px;
                }
                .custom_tooltip p{
                    margin-bottom: 0px!important;
                }
                .circle {
                    margin-bottom: 5px;
                    display: inline-block;
                    border-radius: 50%;
                    min-width: 13px;
                    min-height: 13px;
                    color: white;
                    text-align: center;
                    line-height: 1;
                    box-sizing: content-box;
                    white-space: nowrap;
                }
                .circle:before {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    padding-top: 100%;
                    height: 0;
                }
                .circle span {
                    display: inline-block;
                    vertical-align: middle;
                }
                .highcharts-tooltip>span {
                    border: 1px solid silver;
                    border-radius: 3px;
                    box-shadow: 1px 1px 2px #888;
                    z-index: 9999!important;
                }
                .highcharts-credits{display: none}
                .highcharts-contextbutton{display: none}

                .overlay {
                    width: 98px;
                    height: 155px;
                    padding: 2px;
                    position: absolute;
                    border: 1px solid #73879C;
                    top: 80px;   /* chartArea top  */
                }
                .btnRefresh{
                    background: #6c757d;
                    color: #fff!important;
                    margin-right: 5px;
                    float:right
                }
                .lineDivWhite{
                    margin: 0px 0px 10px 0px;
                }
                .lineDivBlack{
                    border: 1px solid #f7f5f5;
                    margin: 10px 0px 10px 0px;
                }
                .date{
                    margin-top: 10px;
                    width: 180px;
                    margin-left: 10px;
                    color: #2A3F54;
                }
                .titFilter{
                    font-size: 18px;
                    color: #16a085;
                    font-weight: 600;
                    margin-left: 10px;
                }
                .selectBox{
                    cursor: pointer;
                    margin-top: 10px;
                    width: 177px;
                    margin-left: 10px;
                    color: #555!important;
                }
                .filter{
                    padding: 5px 0px 0px 10px;
                    margin: 30px 0px 15px 0px;
                    color: #f90;
                    font-size: 18px;
                    background: #F7F7F7;
                }
                .titBox{
                    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
                    font-size: 16px;
                    color: #0D3349;
                }
                .box-area-2{
                    background-color: #fec44f;
                    padding: 15px;
                    color: #fff;
                    margin-bottom: 20px;
                }
                .box-area-3{
                    background-color: #66c2a4;
                    padding: 15px;
                    color: #fff;
                    margin-bottom: 20px;
                }
                .box-area-1{
                    padding: 30px;
                    color: #fff;
                    background-color: #73879C;
                }
        </style>
    </head>

    <body>
            <!-- Start Left menu area -->
        <div class="left-sidebar-pro">
            <nav id="sidebar" class="">
                <div class="sidebar-header" style="margin-top: 10px;height: 50px">
                    <a href="/internet/age" class="aHeader"><img class="main-logo" width="38" height="35" src="/assets/images/home.jpg" alt=""> INTERNET</a>
                </div>
                <div class="left-custom-menu-adp-wrap comment-scrollbar">
                    <nav class="sidebar-nav left-sidebar-menu-pro divLeft">
                        <div class="col-xs-12 filter"><i class="fa fa-filter"></i> FILTERING </div>
                        <div class="otherFilt" style="padding-top: 15px;display: none;margin-bottom: 15px">
                            <span class="titFilter"><i class="fa fa-bell"></i> <span class="groupTit"></span> </span></i>
                            <p class="txtControl groupCont"></p>
                        </div>

                        <div class="col-xs-12 lineDivBlack"></div>
                        <div class="divStatus" style="margin-bottom: 20px;padding-top: 15px">
                            <span class="titFilter"><i class="fa fa-bell"></i> Group Status</span></i>
                            <select class="form-control selectBox slStatus" style="height: 35px">
                                <option value="*">---Choose Status---</option>
                                @for( (k,v) <- CommonUtil.STATUS_MAP){
                                    <option value="@v">@k</option>
                                }
                            </select>
                        </div>
                        <div class="col-xs-12 lineDivBlack"></div>
                        <div style="height: 140px;padding-top: 15px">
                            <span class="titFilter"><i class="fa fa-bell"></i> Group Month</span></i>
                            <div class="input-group date monthPicker">
                                <input type="text" id="monthGrp" class="form-control txtInput" value="@month" readonly="true" style="height: 35px">
                                <span class="input-group-addon" style="background-color: #5A738E!important;"><i class="fa fa-calendar" aria-hidden="true" style="color:white"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12 lineDivWhite"></div>
                        <div style="padding:0px 5px">
                            <a class="apply btn btn-xs btn-success" style="float: right;"><i class="fa fa-check-circle"></i> Apply</a>
                            <a class="refresh btn btn-xs btn-secondary btnRefresh"><i class="fa fa-refresh"></i> Refresh</a>
                        </div>
                    </nav>
                </div>
            </nav>
        </div>
            <!-- End Left menu area -->
            <!-- Start Welcome area -->
        <div class="all-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="logo-pro" style="margin-top: 10px;height: 50px">
                            <a href="/internet/age" class="aHeader"><img class="main-logo" width="38" height="35" src="/assets/images/home.jpg" alt=""> INTERNET</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-advance-area">
                <div class="header-top-area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="header-top-wraper">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuTop" aria-expanded="true" style="color: #4292c6">
                                                <span class="sr-only">Toggle navigation</span>
                                                <i class="fa fa-bars" aria-hidden="true" style="font-size: 26px"></i>
                                            </button>
                                        </div>

                                        <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12 menu-top" id="menuTop">
                                            <div class="header-top-menu tabl-d-n">
                                                <ul class="nav navbar-nav mai-top-nav">
                                                    <li class="nav-item"><a href="/internet/age" class="nav-link"><i class="fa fa-user"></i> AGE</a>
                                                    </li>
                                                    <li class="nav-item"><a href="/internet/region" class="nav-link"><i class="fa fa-map-marker"></i> REGION</a>
                                                    </li>
                                                    <li class="nav-item"><a href="/internet/calllog" class="nav-link"><i class="fa fa-bug"></i> CALLLOG</a>
                                                    </li>
                                                    <li class="nav-item"><a href="/internet/checklist" class="nav-link"><i class="fa fa-building"></i> CHECKLIST</a>
                                                    </li>
                                                    <li class="nav-item activeLi"><a href="/internet/detect" class="nav-link"><i class="fa fa-exclamation-triangle"></i> DETECT PROBLEM</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="header-right-info">
                                                <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                    <li class="nav-item">
                                                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                            <img src="/assets/images/user-default-white.png" alt="">
                                                            <span class="admin-name">@email</span>
                                                            <i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
                                                        </a>
                                                        <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn" style="left: -70px">
                                                            <li><a href="/logout"><i class="fa fa-sign-out pull-right mg-tb-5"></i>Log Out</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Mobile Menu start -->
                <div class="mobile-menu-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul class="mobile-menu-nav">
                                            <div class="disInline">
                                                <div class="col-sm-6 col-xs-12 otherFilt" style="padding-top: 15px;display: none">
                                                    <span class="titFilter"><i class="fa fa-bell"></i> <span id="groupTit"></span> </span></i>
                                                    <p class="txtControl" id="groupCont"></p>
                                                </div>
                                            </div>
                                            <div class="disInline">
                                                <div class="col-sm-6 col-xs-12" style="height: 70px;padding-top: 15px;">
                                                    <span class="titFilter"><i class="fa fa-bell"></i> Group Status</span></i>
                                                    <select class="form-control selectBox slStatus" style="height: 20px">
                                                        <option value="*">---Choose Status---</option>
                                                        @for( (k,v) <- CommonUtil.STATUS_MAP){
                                                            <option value="@v">@k</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-sm-6 col-xs-12" style="height: 70px;padding-top: 15px;">
                                                    <span class="titFilter"><i class="fa fa-bell"></i> Group Month</span></i>
                                                    <div class="input-group date monthPicker">
                                                        <input type="text" id="monthGrp" class="form-control txtInput" value="@month" readonly="true">
                                                        <span class="input-group-addon" style="background-color: #5A738E!important;width: 40px"><i class="fa fa-calendar" aria-hidden="true" style="color:white;margin-left: 25px"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 lineDivWhite"></div>
                                            <div style="padding:0px 15px">
                                                <a class="apply btn btn-xs btn-success" style="float: right;margin-bottom: 15px"><i class="fa fa-check-circle"></i> Apply</a>
                                                <a href="/internet/region" class="btn btn-xs btn-secondary btnRefresh"><i class="fa fa-refresh"></i> Refresh</a>
                                            </div>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Mobile Menu end -->
            </div>
            @if(rs != null) {
                @helper.CSRF.formField
                <input type="hidden" id="monthCurr" value="@month">
                <input type="hidden" id="contractGrp" value="*">
                <input type="hidden" id="cate">
                <input type="hidden" id="cause">
                <input type="hidden" id="complain" value="*">
                <input type="hidden" id="maintain">
                <input type="hidden" id="package" value="*">
                <input type="hidden" id="region" value="*">
                <input type="hidden" id="age" value="*">
                <input type="hidden" id="_typeCsv">

                <div class="rate-percent-area mg-t-15">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="animated flipInY col-lg-3 col-md-12 col-sm-12 col-xs-12 pd-30">
                                <h2 class="hvr-pulse txtHead mg-b-10" style="color: #832d1d"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> CARD METRICS</h2>
                                <div class="reso-mg-b-30 box-area-1">
                                    <div class="analytics-content">
                                        <h1 class="mg-b-10"><span id="numCt" class="counter"> @formatPattern(rs.cardMetrics._1)</span>  <i class="fa fa-book ibox" aria-hidden="true"></i></h1>
                                        <h3>Number of Contracts</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="reso-mg-b-30 box-area-2">
                                            <div class="analytics-content">
                                                <h1 class="mg-b-10"><span id="churnCt" class="counter"> @formatPattern(rs.cardMetrics._2)</span>  <i class="fa fa-book ibox" aria-hidden="true"></i></h1>
                                                <h3>Churn Contracts</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="reso-mg-b-30 box-area-2">
                                            <div class="analytics-content">
                                                <h1 class="mg-b-10"><span id="churnRate" class="counter">@format3Decimal(rs.cardMetrics._2 * 100.0 / rs.cardMetrics._1)</span> %<i class="fa fa-bolt ibox" aria-hidden="true"></i></h1>
                                                <h3>Churn Rate</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="reso-mg-b-30 box-area-2">
                                            <div class="analytics-content">
                                                <h1 class="mg-b-10"><span id="churnPert" class="counter">@format3Decimal(rs.cardMetrics._3 * 100.0 / rs.cardMetrics._2)</span> %<i class="fa fa-bolt ibox" aria-hidden="true"></i></h1>
                                                <h3>Churn Percentage</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="reso-mg-b-30 box-area-3">
                                            <div class="analytics-content">
                                                <h1 class="mg-b-10"><span id="f1score" class="counter">@format3Decimal(2.00 * (rs.cardMetrics._2 * 100.0 / rs.cardMetrics._1 * rs.cardMetrics._3 * 100.0 / rs.cardMetrics._2) / (rs.cardMetrics._2 * 100.0 / rs.cardMetrics._1 + rs.cardMetrics._3 * 100.0 / rs.cardMetrics._2))</span> <i class="fa fa-star-o ibox" aria-hidden="true"></i></h1>
                                                <h3>F1 Score</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="reso-mg-b-30 box-area-3">
                                            <div class="analytics-content">
                                                <h1 class="mg-b-10"><span id="numCall" class="counter"> @formatPattern(rs.cardMetrics._4)</span> <i class="fa fa-phone ibox" aria-hidden="true"></i></h1>
                                                <h3>Have Call</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="reso-mg-b-30 box-area-3">
                                            <div class="analytics-content">
                                                <h1 class="mg-b-10"><span id="numCheck" class="counter"> @formatPattern(rs.cardMetrics._5)</span> <i class="fa fa-check ibox" aria-hidden="true"></i></h1>
                                                <h3>Have Checklist</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rate-percent-area mg-t-15">
                    <div class="container-fluid">
                        <div class="tab-area panel with-nav-tabs panel-primary">
                            <div class="panel-heading" style="padding-top: 7px!important;">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a class="tab1" style="cursor: pointer">Overall</a></li>
                                    <li><a class="tab2" style="cursor: pointer">Checklist</a></li>
                                    <li><a class="tab3" style="cursor: pointer">Callog</a></li>
                                    <li><a class="tab4" style="cursor: pointer">Complain</a></li>
                                    <li><a class="tab5" style="cursor: pointer">Indicators</a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="tab1">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                <div class="product-sales-chart boxCss">
                                                    <ul id="basic-interaction" class="hide">
                                                        <li>
                                                            <em><b class="child">Total</b> <br> @formatPattern(rs.numCallChecklist._1.toInt + rs.numCallChecklist._2.toInt+rs.numCallChecklist._3.toInt+rs.numCallChecklist._4.toInt)</em>
                                                            <ul>
                                                                <li>
                                                                    <b class="child">Call Yes</b><br>
                                                                    @formatPattern(rs.numCallChecklist._1.toInt + rs.numCallChecklist._2.toInt)
                                                                    <ul>
                                                                        <li><span class="parent" style="display: none">Call Yes</span><b class="child">Checklist Yes</b> <br> @formatPattern(rs.numCallChecklist._1.toInt)</li>
                                                                        <li><span class="parent" style="display: none">Call Yes</span><b class="child">Checklist No</b> <br> @formatPattern(rs.numCallChecklist._2.toInt)</li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <b class="child">Call No</b><br>
                                                                    @formatPattern(rs.numCallChecklist._3.toInt + rs.numCallChecklist._4.toInt)
                                                                    <ul>
                                                                        <li><span class="parent" style="display: none">Call No</span><b class="child">Checklist Yes</b> <br> @formatPattern(rs.numCallChecklist._3.toInt)</li>
                                                                        <li><span class="parent" style="display: none">Call No</span><b class="child">Checklist No</b> <br> @formatPattern(rs.numCallChecklist._4.toInt)</li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>

                                                    <div id="chart"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                <div class="product-sales-chart boxCss">
                                                    <div id="chart-pie8" style="height: 290px"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                <div class="product-sales-chart boxCss">
                                                    <div id="chart-pie9" style="height: 290px"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                <div class="product-sales-chart boxCss">
                                                    <div id="chart-pie10" style="height: 290px"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab2">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                <div class="product-sales-chart boxCss">
                                                    <div id="chart-line5" style="height: 300px"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                <div class="product-sales-chart boxCss">
                                                    <div id="chart-line7" style="height: 300px"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                <div class="product-sales-chart boxCss">
                                                    <div id="chart-col6" style="height: 350px"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                <div class="pd-10 boxCss divTbcsv">
                                                    <a onclick="exportCsv('checklist')" class="btn btn-success btn-xs btn-export"><i class="fa fa-download"></i> CSV</a>
                                                    <table class="data table table-bordered" id="tb13" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 10%;background: #0b6975;color: #fff">Contract</th>
                                                                <th style="width: 15%;background: #0b6975;color: #fff">Create Date</th>
                                                                <th style="width: 15%;background: #0b6975;color: #fff">End Date</th>
                                                                <th style="width: 60%;background: #0b6975;color: #fff">Content</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        @for(i <- 0 until rs.topChecklistContent.length){
                                                            <tr>
                                                                <td style="width: 10%">@rs.topChecklistContent(i)._1</td>
                                                                <td style="width: 15%">@rs.topChecklistContent(i)._2</td>
                                                                <td style="width: 15%">@rs.topChecklistContent(i)._3</td>
                                                                <td style="width: 60%">@rs.topChecklistContent(i)._4</td>
                                                            </tr>
                                                        }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab3">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                                <div class="product-sales-chart">
                                                    <div id="chart-pie4" style="height: 370px"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                                <div class="product-sales-chart divTbcsv">
                                                    <a onclick="exportCsv('callog')" class=" btn-export btn btn-success btn-xs"><i class="fa fa-download"></i> CSV</a>
                                                    <table class="data table table-bordered" id="tb12" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 10%;background: #0b6975;color: #fff">Contract</th>
                                                                <th style="width: 15%;background: #0b6975;color: #fff">Time</th>
                                                                <th style="width: 75%;background: #0b6975;color: #fff">Content</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        @for(i <- 0 until rs.topCallContent.length){
                                                            <tr>
                                                                <td style="width: 10%">@rs.topCallContent(i)._1</td>
                                                                <td style="width: 15%">@rs.topCallContent(i)._2</td>
                                                                <td style="width: 75%">@rs.topCallContent(i)._3</td>
                                                            </tr>
                                                        }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab4">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12"></div>
                                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                <div class="product-sales-chart">
                                                    <div id="chart-pie3" style="height: 350px"></div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12"></div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab5">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-12 col-sm-4 col-xs-12">
                                                <div class="white-box boxInTab">
                                                    <div class="titLbInTab">Inf Error per Month <i class="fa fa-bug iboxInTab" aria-hidden="true"></i></div>
                                                    <div class="count text-lgInTab" id="errChurn"> @rs.indicators.infErrors(rs.indicators.infErrors.length-1)._3 </div>
                                                    <div class="count text-smInTab" id="errAll"> @rs.indicators.infErrors(rs.indicators.infErrors.length-1)._2 </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-8 col-xs-12">
                                                <div id="splot-line1" style="height: 150px"></div>
                                            </div>
                                            <div class="col-lg-2 col-md-12 col-sm-4 col-xs-12">
                                                <div class="white-box boxInTab">
                                                    <div class="titLbInTab">Signin Anomaly per Month <i class="fa fa-sign-in iboxInTab" aria-hidden="true"></i></div>
                                                    <div class="count text-lgInTab" id="signinChurn"> @rs.indicators.signin(rs.indicators.signin.length-1)._3 </div>
                                                    <div class="count text-smInTab" id="signinAll"> @rs.indicators.signin(rs.indicators.signin.length-1)._2 </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-8 col-xs-12">
                                                <div id="splot-line2" style="height: 150px"></div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-2 col-md-12 col-sm-4 col-xs-12">
                                                <div class="white-box boxInTab">
                                                    <div class="titLbInTab">Failed ONU per Month <i class="fa fa-times-circle iboxInTab" aria-hidden="true"></i></div>
                                                    <div class="count text-lgInTab" id="suyhaoChurn"> @rs.indicators.suyhao(rs.indicators.suyhao.length-1)._3 </div>
                                                    <div class="count text-smInTab" id="suyhaoAll"> @rs.indicators.suyhao(rs.indicators.suyhao.length-1)._2 </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-8 col-xs-12">
                                                <div id="splot-line3" style="height: 150px"></div>
                                            </div>

                                            <div class="col-lg-2 col-md-12 col-sm-4 col-xs-12">
                                                <div class="white-box boxInTab">
                                                    <div class="titLbInTab">Total Download per Month <i class="fa fa-download iboxInTab" aria-hidden="true"></i></div>
                                                    <div class="count text-lgInTab" id="downChurn"> @rs.indicators.download(rs.indicators.download.length-1)._3 GB</div>
                                                    <div class="count text-smInTab" id="downAll"> @rs.indicators.download(rs.indicators.download.length-1)._2 GB</div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-8 col-xs-12">
                                                <div id="splot-line4" style="height: 150px"></div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-2 col-md-12 col-sm-4 col-xs-12">
                                                <div class="white-box boxInTab">
                                                    <div class="titLbInTab">Monthly Paid Amount <i class="fa fa-money iboxInTab" aria-hidden="true"></i></div>
                                                    <div class="count text-lgInTab" id="feeChurn"> @formatPattern(rs.indicators.fee(rs.indicators.fee.length-1)._3.toInt) </div>
                                                    <div class="count text-smInTab" id="feeAll"> @formatPattern(rs.indicators.fee(rs.indicators.fee.length-1)._2.toInt) </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-8 col-xs-12">
                                                <div id="splot-line5" style="height: 150px"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            } else{
                <div class="row"><h2 class="noData-title">
                    Sorry, This page is under construction, please come back later...</h2></div>
            }
            <div class="footer-copyright-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer-copy-right">
                                <p>Copyright © 2018. All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/assets/otherLayout/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/assets/otherLayout/js/bootstrap.min.js"></script>
        <script src="/assets/otherLayout/js/wow.min.js"></script>
        <script src="/assets/otherLayout/js/jquery-price-slider.js"></script>
        <script src="/assets/otherLayout/js/jquery.meanmenu.js"></script>
        <script src="/assets/otherLayout/js/owl.carousel.min.js"></script>
        <script src="/assets/otherLayout/js/jquery.sticky.js"></script>
        <script src="/assets/otherLayout/js/jquery.scrollUp.min.js"></script>
        <script src="/assets/otherLayout/js/counterup/jquery.counterup.min.js"></script>
        <script src="/assets/otherLayout/js/counterup/waypoints.min.js"></script>
        <script src="/assets/otherLayout/js/counterup/counterup-active.js"></script>
        <script src="/assets/otherLayout/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/assets/otherLayout/js/scrollbar/mCustomScrollbar-active.js"></script>
        <script src="/assets/otherLayout/js/metisMenu/metisMenu.min.js"></script>
        <script src="/assets/otherLayout/js/metisMenu/metisMenu-active.js"></script>
        <script src="/assets/otherLayout/js/plugins.js"></script>
        <script src="/assets/otherLayout/js/main.js"></script>
        <script src="/assets/javascripts/waitMe.js"></script>
        <script src="/assets/javascripts/common_churn.js"></script>
            <!--  Datepicker -->
        <script src="/assets/datepicker/js/bootstrap-datepicker.js"></script>
        <script src="/assets/javascripts/jsapi.js"></script>
            <!-- High chart -->
        <script src="/assets/javascripts/highcharts.js"></script>
        <script src="/assets/javascripts/exporting.js"></script>
        <script src="/assets/javascripts/highcharts-3d.js"></script>
        <script src="/assets/javascripts/orgChart.js"></script>
        <script src="/assets/javascripts/drilldown.js"></script>
            <!-- Datatable -->
        <script src="/assets/datatables/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="/assets/datatables/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="/assets/datatables/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="/assets/datatables/datatables.net-fixedColumn/js/dataTables.fixedColumn.min.js"></script>
        <script type="text/javascript">
                $(document).ready(function () {
                    $("#basic-interaction").orgChart({
                        container: $("#chart"),
                        interactive: true,
                        showLevels: 3
                    });

                    // tab click
                    $('.nav-tabs li').click(function () {
                        var tabCurr = $('.nav-tabs li.active').find('a').attr('class')
                        var tab = $(this).find('a').attr('class')
                        if(tabCurr != tab){
                            $('.nav-tabs li').removeClass('in').removeClass('active')
                            $('.panel-body .tab-pane').removeClass('in').removeClass('active')
                            $('#'+tab).addClass('in').addClass('active')
                            $(this).addClass('in').addClass('active')
                            if(tab == "tab2"){
                                $('#tb13').dataTable( {
                                    dom: 'Bfrtip',
                                    "scrollY":        "310px",
                                    "scrollCollapse": true,
                                    "paging":         false,
                                    "info":     false,
                                    "searching":     false,
                                    "sort":     false,
                                    destroy: true
                                });
                            }
                            else if(tab == "tab3"){
                                $('#tb12').dataTable( {
                                    dom: 'Bfrtip',
                                    "scrollY":        "310px",
                                    "scrollCollapse": true,
                                    "paging":         false,
                                    "info":     false,
                                    "searching":     false,
                                    "sort":     false,
                                    destroy: true
                                });
                            }
                        }
                    })
                })
        </script>
        @if(rs != null) {
            @scripts(rs)
        }
    </body>

</html>