@(item: String, day: String)
@import services.domain.CommonService.formatDateDDMMYY

<body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">

                            <ul class="navTop">
                                <li class="dropdown">
                                    <a class="site_title curSor dropdown-toggle">
                                        <i class="fa fa-user"></i> User Profile</a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <br />
                            <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <ul class="nav side-menu">
                                    <li><a href="/paytv"><i class="fa fa-home"></i> PayTV </a>
                                    </li>
                                    @if(day != ""){
                                        <li class="current-page"><a href="/profile?ct=@day"><i class="fa fa-book"></i> Contract </a>
                                        </li>
                                    }else{
                                        <li><a href="/profile"><i class="fa fa-book"></i> Contract </a>
                                        </li>
                                    }
                                    <li><a><i class="fa fa-internet-explorer"></i> Internet </a>
                                        <ul class="nav child_menu">
                                            <li><a href="/internet/churn">Churn </a></li>
                                            <li><a href="/internet/realtime">Real time</a></li>
                                            <li><a href="/internet/history">History</a></li>
                                            <li><a> Compare </a>
                                                <ul class="nav child_menu">
                                                    <li><a href="/internet/compareTime"><i class="fa fa-calendar"></i>Compare Date</a></li>
                                                    <li><a href="/internet/compareCt"><i class="fa fa-book"></i> Compare Contract</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </div>
                            <!-- /sidebar menu -->
                    </div>
                </div>
