@import profile.utils.CommonUtil
@(rs: profile.model.PayTVResponse,email: String)

@import services.domain.CommonService.formatNumber
@import services.domain.CommonService.percent

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Dashboard Admin </title>

            <!-- Bootstrap -->
       @common.views.html.common.css("Paytv",1)
    </head>
    @common.views.html.common.top("Paytv",1,"")
        <!-- top navigation -->
    <div class="top_nav">
        <div class="nav_menu">
            <nav>
                <div class="nav toggle" style="margin-bottom: 10px">
                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <img src="../assets/images/user.default.png" alt="">@email
                            <span class=" fa fa-angle-down"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                            <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
            @if(rs != null) {
                <div class="row top_tiles">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="x_panel tile" style="padding: 0px">
                            <div class="title disInline">
                                <span style="width: 80%">Paytv Contract By Status</span>
                                <select class="form-control" id="slStatus" onchange="drillDownJson(this)">
                                    <option value="*" selected>--- Choose status ---</option>
                                @for( (k,v) <- CommonUtil.STATUS_MAP){
                                    <option value="@v">@k</option>
                                }
                                </select>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="line-status" style="height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="x_panel tile" style="padding: 0px">
                            <div class="title disInline">
                                <span style="width: 80%">Paytv Contract By Province</span>
                                <select class="form-control" id="slProvince" onchange="drillDownJson(this)">

                                </select>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="line-province" style="height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top_tiles">
                    <div class="col-lg-12">
                        <div class="x_panel tile" style="padding: 0px">
                            <div class="title disInline">
                                <span style="width: 90%">Paytv Contract By Name</span>
                                <select class="form-control" id="slName" onchange="drillDownJson(this)">
                                    <option value="*" selected>--- Choose name ---</option>
                                @for(i <- 0 until rs.tengoi.map(x=>x._2).distinct.length){
                                    <option value="@rs.tengoi.map(x=>x._2).distinct(i)">@rs.tengoi.map(x=>x._2).distinct(i)</option>
                                }
                                </select>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="line-name" style="height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top_tiles">
                    <div class="col-lg-12">
                        <div class="x_panel tile" style="padding: 0px">
                            <div class="title disInline">
                                <span style="width: 90%">Paytv Usage</span>
                                <select class="form-control" id="slUsage" onchange="drillDownJson(this)">
                                    <option value="*" selected>--- Choose usage ---</option>
                                    <option value=">0">Usage</option>
                                    <option value="<1">No Usage</option>
                                </select>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="usage-bar" style="height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top_tiles">
                    <div class="col-sm-6">
                        <div class="x_panel tile" style="padding: 0px">
                            <div class="title disInline">
                                <span>Quantile For Usage</span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="sumusage-quantile" style="height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="x_panel tile" style="padding: 0px">
                            <div class="title disInline">
                                <span>Quantile For Life</span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="lte-quantile" style="height: 300px;"></div>
                            </div>
                        </div>

                    </div>
                </div>
            } else{
                <div class="row"><h2 class="noData-title">
                    Sorry, This page is under construction, please come back later...</h2></div>
            }

        </div>
            <!-- /page content -->

            <!-- footer content -->
        <footer>
            <div class="pull-right">
                Dashboard Admin 21/09/2017
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

            <!-- jQuery -->
        <script src="../assets/vendors/jquery/dist/jquery.min.js"></script>
            <!-- Bootstrap -->
        <script src="../assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
            <!-- Custom Theme Scripts -->
        <script src="../assets/custom/js/custom.min.js"></script>
            <!-- Hight chart -->
        <script src="../assets/javascripts/highcharts.js"></script>
        <script src="../assets/javascripts/exporting.js"></script>
        <script src="../assets/javascripts/highcharts-more.js"></script>
        <script src="../assets/javascripts/jquery.counterup.min.js"></script>
        @if(rs != null) {
            @scripts(rs)
        }
    </body>
</html>