@(rs: profile.model.PayTVResponse)
@import play.api.libs.json.Json
@import services.domain.CommonService.getOthers

<script type="text/javascript">
        $(document).ready(function () {
            $('#table-sparkline').DataTable( {
                "scrollY":        "250px",
                "scrollCollapse": true,
                "paging":         false,
                "info":     false,
                "searching":     false,
                "sort":     false
            });
            // multi select
            $('#cbbUsage').multiselect({
                /*enableFiltering: true,*/
                nonSelectedText: 'Choose Range',
                includeSelectAllOption: true,
                maxHeight: 400,
                dropUp: false,
                numberDisplayed:1,
                inheritClass: true
            });
            $('#slName').multiselect({
                /*enableFiltering: true,*/
                nonSelectedText: 'Choose Name',
                includeSelectAllOption: true,
                maxHeight: 400,
                dropUp: false,
                numberDisplayed:1,
                inheritClass: true
            });
            $('#slStatus').multiselect({
                /*enableFiltering: true,*/
                nonSelectedText: 'Choose Status',
                includeSelectAllOption: true,
                maxHeight: 400,
                numberDisplayed:1,
                dropUp: false,
                inheritClass: true
            });
            // jsTree Region and province
            $('#region').jstree({
                "plugins" : ["checkbox"],
                'core' : {
                    "themes":{
                        "icons":false
                    },
                    'data' : getJsonTreeListRegion(@Html(Json.stringify(Json.toJson(rs.provincesOfRegion))),@Html(Json.stringify(Json.toJson( rs.provincesOfRegion.map(x => x._1).distinct.sorted ))))
                }
            }).on('changed.jstree', function (e, data) {
                var i, j, nodes = [], regions = [], provinces= [];
                for(i = 0, j = data.selected.length; i < j; i++) {
                    nodes.push(data.instance.get_node(data.selected[i]).id);
                }
                var regionArr = nodes.join(', ').split(',')
                for(var i=0;i< regionArr.length;i++){
                    if(isNaN(regionArr[i])){
                        regions.push(regionArr[i].split('-')[1])
                    }
                    else{
                        provinces.push(regionArr[i])
                    }
                }
                $('#provinces').val(provinces)
                $('#regions').val(regions)
            })
            $('input:radio').change(function () {
                $('#slUsage').val($(this).val())
            });
            // dropdownlist country
            var csv_path = "/assets/province.csv";
            var renderCSVDropdown = function(csv) {
                var dropdown = $('select#slProvince');
                dropdown.html('')
                dropdown.append($('<option>').attr('value', "*").text("--- Choose Province ---"));
                for(var i = 1; i < csv.length; i++) {
                    var record = csv[i];
                    var entry = $('<option>').attr('value', i).text(record[0]);
                    dropdown.append(entry);
                }
            };

            $.get(csv_path, function(data) {
                var csv = CSVToArray(data);
                renderCSVDropdown(csv);
            });

            var categories = @Html(Json.stringify(Json.toJson( rs.status.map(x => x._1).distinct.sorted )));

            @if(rs.status != null){
                Highcharts.chart('line-status', {
                    chart: {
                        zoomType: 'xy'
                    },

                    title: {
                        text: ''
                    },

                    colors : ['#9B59B6','#73879C','#dc5a78', '#3498DB', '#f1b53d', '#1ABB9C', '#832d1d', '#0000cc',  '#E74C3C', '#09006d', '#cccccc', '#669999', '#f2ccff', '#e6e600', '#132639', '#99cc00', '#466d6d', '#ffc6b3', '#666633', '#ffff00'],

                    xAxis: {
                        categories: @Html(Json.stringify(Json.toJson(rs.status.map(x=> x._1).distinct.sorted)))
                    },

                    yAxis: [{ // Primary yAxis
                        labels: {
                            format: '{value}',
                            style: {
                                color: "#9B59B6"
                            }
                        },
                        title: {
                            text: 'Binh Thuong',
                            style: {
                                color: "#9B59B6"
                            }
                        }
                    }, { // Secondary yAxis
                        title: {
                            text: 'Others',
                            style: {
                                color: "#5A738E"
                            }
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: "#5A738E"
                            }
                        },
                        opposite: true
                    }],
                    tooltip: {
                        shared: true
                    },

                    series: getJsonMultiLinesColumn(@Html(Json.stringify(Json.toJson(rs.status))), @Html(Json.stringify(Json.toJson(rs.status.map(x=> x._1).distinct.sorted))), @Html(Json.stringify(Json.toJson(rs.status.map(x=> x._2).distinct))))

                });
            }


            @if(rs.regions != null){
                Highcharts.chart('line-region', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: ''
                    },

                    plotOptions: {
                        series: {
                            events: {
                                legendItemClick: function () {
                                    var regionId = this.chart.series[this.index].name.split(' ')[1]
                                    drillDrawLegendProvince(regionId);
                                }
                            }
                        }
                    },

                    colors : ['#9B59B6', '#1ABB9C', '#832d1d', '#0000cc',  '#73879C ','#E74C3C','#f90', '#3498DB', '#f1b53d','#09006d', '#cccccc', '#669999', '#f2ccff', '#e6e600', '#132639', '#99cc00', '#466d6d', '#ffc6b3', '#666633', '#ffff00'],

                    yAxis: {
                        title: {
                            text: 'Number of contracts'
                        }
                    },
                    xAxis: {
                        categories: @Html(Json.stringify(Json.toJson(rs.regions.map(x=> x._1).distinct.sorted)))
                    },

                    series: getJsonMultiLines(@Html(Json.stringify(Json.toJson(rs.regions))), @Html(Json.stringify(Json.toJson(rs.regions.map(x=> x._1).distinct.sorted))), @Html(Json.stringify(Json.toJson(rs.regions.map(x=> x._2).distinct.sorted))))

                });
            }
            @if(rs.usage != null){
                var range0 = @Html(Json.stringify(Json.toJson(rs.usage.filter(x => x._2 == "range0").map(x => x._3))))
                var range1 = @Html(Json.stringify(Json.toJson(rs.usage.filter(x => x._2 == "range1").map(x => x._3))))
                var range2 = @Html(Json.stringify(Json.toJson(rs.usage.filter(x => x._2 == "range2").map(x => x._3))))
                var range3 = @Html(Json.stringify(Json.toJson(rs.usage.filter(x => x._2 == "range3").map(x => x._3))))
                Highcharts.chart('usage-bar', {
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: ''
                    },
                    xAxis: {
                        categories: @Html(Json.stringify(Json.toJson(rs.usage.map(x => x._1).distinct))),
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: ''
                        }
                    },
                    legend: {
                        reversed: true
                    },
                    plotOptions: {
                        series: {
                            stacking: 'normal'
                        }
                    },

                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + ', month ' + this.point.category + '</b><br/>' +
                                    'Number Of Contract: ' + Highcharts.numberFormat(Math.abs(this.point.y), 0);
                        }
                    },

                    series: [{
                        name: '>15min/day',
                        data: range3,
                        color:'#73879C'
                    },{
                        name: '15min/day',
                        data: range2,
                        color:'green'
                    },{
                        name: '5min/day',
                        data: range1,
                        color:'#0000cc'
                    },
                        {
                        name: '<0min/day',
                        data: range0,
                        color:'#832d1d'
                    }]
                });
            }
            @if(rs.usageQuantile != null){
                var dtaUsageQuantile = @Html(Json.stringify(Json.toJson(rs.usageQuantile.map(x => x._2))))
                var usage_quantile = Highcharts.chart('sumusage-quantile', {

                    chart: {
                        type: 'boxplot'
                    },

                    title: {
                        text: ''
                    },

                    legend: {
                        enabled: false
                    },

                    xAxis: {
                        categories: categories
                    },

                    yAxis: {
                        title: {
                            text: 'Observations'
                        }
                    },

                    series: [{
                        name: 'Observations',
                        color: '#f60',
                        data: dtaUsageQuantile,
                        // [
                        //   [760, 801, 848, 895, 965],
                        //   [733, 853, 939, 980, 1080],
                        //   [714, 762, 817, 870, 918],
                        //   [724, 802, 806, 871, 950],
                        //   [834, 836, 864, 882, 910]],
                        tooltip: {
                            headerFormat: '<em>{point.key}</em><br/>'
                        }
                    }]

                });
            }
            @if(rs.lteQuantile != null){
                var dtaLteQuantile = @Html(Json.stringify(Json.toJson(rs.lteQuantile.map(x => x._2))))
                var lte_quantile = Highcharts.chart('lte-quantile', {

                    chart: {
                        type: 'boxplot'
                    },

                    title: {
                        text: ''
                    },

                    legend: {
                        enabled: false
                    },

                    xAxis: {
                        categories: categories
                    },

                    yAxis: {
                        title: {
                            text: 'Observations'
                        }
                    },

                    series: [{
                        name: 'Observations',
                        color:'#09006d',
                        data: dtaLteQuantile,
                        // [
                        //   [760, 801, 848, 895, 965],
                        //   [733, 853, 939, 980, 1080],
                        //   [714, 762, 817, 870, 918],
                        //   [724, 802, 806, 871, 950],
                        //   [834, 836, 864, 882, 910]],
                        tooltip: {
                            headerFormat: '<em>{point.key}</em><br/>'
                        }
                    }]

                });
            }
            /**
             * Create a constructor for sparklines that takes some sensible defaults and merges in the individual
             * chart options. This function is also available from the jQuery plugin as $(element).highcharts('SparkLine').
             */
            Highcharts.SparkLine = function (a, b, c) {
                var hasRenderToArg = typeof a === 'string' || a.nodeName,
                    options = arguments[hasRenderToArg ? 1 : 0],
                    defaultOptions = {
                        chart: {
                            renderTo: (options.chart && options.chart.renderTo) || this,
                            borderWidth: 0,
                            type: 'area',
                            margin: [2, 0, 2, 0],
                            width: 120,
                            height: 20,
                            style: {
                                overflow: 'visible'
                            },
                            // small optimalization, saves 1-2 ms each sparkline
                            skipClone: true
                        },
                        title: {
                            text: ''
                        },
                        credits: {
                            enabled: false
                        },
                        xAxis: {
                            labels: {
                                enabled: false
                            },
                            title: {
                                text: null
                            },
                            startOnTick: false,
                            endOnTick: false,
                            tickPositions: []
                        },
                        yAxis: {
                            endOnTick: false,
                            startOnTick: false,
                            labels: {
                                enabled: false
                            },
                            title: {
                                text: null
                            },
                            tickPositions: [0]
                        },
                        legend: {
                            enabled: false
                        },
                        tooltip: {
                            borderWidth: 0,
                            shadow: false,
                            useHTML: true,
                            hideDelay: 0,
                            padding: 0,
                            positioner: function (w, h, point) {
                                return { x: point.plotX - w, y: (point.plotY - h/3) };
                            }
                        },
                        plotOptions: {
                            series: {
                                enableMouseTracking: true,
                                lineWidth: 1,
                                shadow: false,
                                states: {
                                    hover: {
                                        lineWidth: 1
                                    }
                                },
                                marker: {
                                    radius: 2
                                }
                            }
                        }
                    };

                options = Highcharts.merge(defaultOptions, options);

                return hasRenderToArg ?
                    new Highcharts.Chart(a, options, c) :
                    new Highcharts.Chart(options, b);
            };

            doChunk();
        });

        function doChunk() {
            var start = +new Date(), $tds = $('td[data-sparkline]'), fullLen = $tds.length, n = 0;

            // Creating 153 sparkline charts is quite fast in modern browsers, but IE8 and mobile
            // can take some seconds, so we split the input into chunks and apply them in timeouts
            // in order avoid locking up the browser process and allow interaction.
            var time = +new Date(),
                    i,
                    len = $tds.length,
                    $td,
                    stringdata,
                    arr,
                    data,
                    chart;

            for (i = 0; i < len; i += 1) {
                $td = $($tds[i]);
                stringdata = $td.data('sparkline');
                arr = stringdata.split('; ');
                data = $.map(arr[0].split(', '), parseFloat);
                chart = {};

                if (arr[1]) {
                    chart.type = arr[1];
                }
                $td.highcharts('SparkLine', {
                    series: [{
                        data: data,
                        fillColor: {
                            linearGradient: [100, 0, 100, 30],
                            stops: [
                                [0, "#1ABB9C"]
                            ]
                        },
                        pointStart: Date.UTC(2017, 04, 1),
                        pointIntervalUnit: 'month'
                    }],
                    tooltip: {

                        formatter: function () {
                            return 'Month: '+Highcharts.dateFormat('%Y-%m', this.x) + '<br/>Avg: ' + Highcharts.numberFormat(this.y, 0);
                        }
                    },
                    chart: chart,
                    exporting: { enabled: false }
                });

                n += 1;

                // If the process takes too much time, run a timeout to allow interaction with the browser
                if (new Date() - time > 500) {
                    $tds.splice(0, i + 1);
                    setTimeout(doChunk, 0);
                    break;
                }
                /*
                                    // Print a feedback on the performance
                                    if (n === fullLen) {
                                        $('#result').html('Generated ' + fullLen + ' sparklines in ' + (new Date() - start) + ' ms');
                                    }*/
            }
        }

        function drillDrawLegendProvince(regionId){
            var fields = getParamFields(regionId)
            $('#regionsOld').val($('#regions').val())
            $.ajax({
                url: "/paytv/getProvincesByRegion?regionId="+fields,
                cache: false,
                beforeSend: function () {
                    $('#line-region').waitMe({
                        effect: 'progressBar',
                        text: 'Please wait...',
                        bg: 'rgba(255,255,255,0.7)',
                        color: '#000',
                        textPos: 'vertical'
                    });
                },
                success: function (dta) {
                    if(dta != "Error"){
                        $('#backRegion').show();
                        Highcharts.chart('line-region', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: 'Provinces of Region '+regionId,
                                style: {
                                    color: "#832d1d"
                                }
                            },

                            colors : ['#1ABB9C', '#9B59B6', '#832d1d', '#0000cc',  '#73879C ','#E74C3C','#f90', '#3498DB', '#f1b53d','#09006d', '#cccccc', '#669999', '#f2ccff', '#e6e600', '#132639', '#99cc00', '#466d6d', '#ffc6b3', '#666633', '#ffff00'],

                            yAxis: {
                                title: {
                                    text: 'Number of contracts'
                                }
                            },
                            xAxis: {
                                categories: dta.monthArray
                            },

                            series: getJsonMultiLines(dta.lstProvince,dta.monthArray,dta.keyProvince)

                        });
                    }
                },
                complete: function () {
                    $('#line-region').waitMe("hide");
                },
            });
        }

        function backToRegion(){
            var fields = getParamFields("")
            $.ajax({
                url: "/paytv/getProvincesByRegion?regionId="+fields,
                cache: false,
                beforeSend: function () {
                    $('#line-region').waitMe({
                        effect: 'progressBar',
                        text: 'Please wait...',
                        bg: 'rgba(255,255,255,0.7)',
                        color: '#000',
                        textPos: 'vertical'
                    });
                },
                success: function (dta) {
                    $('#backRegion').hide()
                    if(dta != "Error"){
                        Highcharts.chart('line-region', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: ''
                            },

                            plotOptions: {
                                series: {
                                    events: {
                                        legendItemClick: function () {
                                            var regionId = this.chart.series[this.index].name.split(' ')[1]
                                            drillDrawLegendProvince(regionId);
                                        }
                                    }
                                }
                            },

                            colors : ['#1ABB9C', '#9B59B6', '#832d1d', '#0000cc',  '#73879C ','#E74C3C','#f90', '#3498DB', '#f1b53d','#09006d', '#cccccc', '#669999', '#f2ccff', '#e6e600', '#132639', '#99cc00', '#466d6d', '#ffc6b3', '#666633', '#ffff00'],

                            yAxis: {
                                title: {
                                    text: 'Number of Contracts'
                                }
                            },
                            xAxis: {
                                categories: dta.monthArray
                            },

                            series: getJsonMultiLines(dta.lstProvince,dta.monthArray,dta.keyProvince)

                        });
                    }
                },
                complete: function () {
                    $('#line-region').waitMe("hide");
                },
            });
        }

        function getJsonTreeListRegion(dta,arrKey){
            /*[
                   { "id" : "ajson1", "parent" : "#", "text" : "Simple root node" },
                   { "id" : "ajson2", "parent" : "#", "text" : "Root node 2" },
                   { "id" : "ajson3", "parent" : "ajson2", "text" : "Child 1" },
                   { "id" : "ajson4", "parent" : "ajson2", "text" : "Child 2" },
                    ]*/
            var jsArray = []
            jsArray.push({
                "text": "Choose Region",
                "id": "All",
                "parent": "#"
            })
            for(var key=0;key<arrKey.length;key++){
                jsArray.push({
                    "text": "Region "+arrKey[key],
                    "id": "Region-"+arrKey[key],
                    "parent": "All"
                })
                for(var i=0;i<dta.length;i++){
                    if(arrKey[key] == dta[i][0]){
                        jsArray.push({
                            "text": dta[i][2],
                            "id": dta[i][1],
                            "parent": "Region-"+arrKey[key]
                        })
                    }
                }
            }
            return jsArray
        }

        function getJsonMultiLinesColumn(dta, arrMonth, arrKey){
            var jsArray = []
            var sizeKey = arrKey.length
            if(arrKey.length >5) sizeKey =5
            for(var key=0;key< sizeKey;key++ ){
                var arrData = []
                for(var month=0;month<arrMonth.length;month++ ) {
                    for (var i = 0; i < dta.length; i++) {
                        if (arrKey[key] == dta[i][1] && arrMonth[month] == dta[i][0]){
                            arrData.push(dta[i][2])
                        }
                    }
                }
                if(key == 0){
                    jsArray.push({
                        name: arrKey[key],
                        type: 'spline',
                        yAxis: 0,
                        data: arrData
                    })
                }
                else {
                    jsArray.push({
                        name: arrKey[key],
                        type: 'column',
                        yAxis: 1,
                        data: arrData
                    })
                }
            }
            return jsArray
        }

        function getJsonMultiLines(dta, arrMonth, arrKey){
            var jsArray = []
            var sizeKey = arrKey.length
            for(var key=0;key< sizeKey;key++ ){
                var arrData = []
                for(var month=0;month<arrMonth.length;month++ ) {
                    for (var i = 0; i < dta.length; i++) {
                        if (arrKey[key] == dta[i][1] && arrMonth[month] == dta[i][0]){
                            arrData.push(dta[i][2])
                        }
                    }
                }
                jsArray.push({
                    name: arrKey[key],
                    data: arrData
                })

            }
            return jsArray
        }

        function getParamFields(regionId){
            var jsonStatus = [
                {name:"HUY DICH VU",id:1},
                {name:"NVLDTT", id:2},
                {name:"CTBDV",id:3},
                {name:"BINH THUONG",id:0}]
            var jsonUsage = [
                {name:"0min/day",id:"<1"},
                {name:"5min/day", id:">0_<=8400"},
                {name:"15min/day",id:">8400_<=25200"},
                {name:">15min/day",id:">25200"}]

            var fields = "", sttCode= [],StatusCode= "StatusCode:*",UsageRange="SumUsage:*",usageArr = [], arrTen=[],TenGoi = "TenGoi:*"
            //get param usage
            var arrUsage = $('#divUsage .multiselect.dropdown-toggle').attr('title');
            if(arrUsage.indexOf(",")>=0){
                for(var i=0;i<arrUsage.split(',').length;i++){
                    var id = jsonUsage.find(x => x.name === arrUsage.split(',')[i].trim()).id
                    // choose multi range
                    if(id.indexOf("_")>=0){
                        UsageRange = "(SumUsage:"+id.split("_")[0]
                        for(var j=1;j<id.split("_").length;j++){
                            UsageRange += " AND SumUsage:"+id.split("_")[j]
                        }
                        UsageRange += ")"
                        usageArr.push(UsageRange)
                    }
                    else{
                        usageArr.push("SumUsage:"+id)
                    }
                }
                UsageRange = usageArr.join(" OR ")
            }
            else if(arrUsage != "Choose Range"){
                var id = jsonUsage.find(x => x.name === arrUsage.trim()).id
                if(id.indexOf(",")){
                    UsageRange = "SumUsage:"+id.split("_")[0]
                    for(var i=1;i<id.split("_").length;i++){
                        UsageRange += " AND SumUsage:"+id.split("_")[i]
                    }
                }
                else
                   UsageRange = "SumUsage:"+id
            }
            //get param status
            var arrStt = $('#divStatus .multiselect.dropdown-toggle').attr('title');
            if(arrStt.indexOf(",")>=0){
                for(var i=0;i<arrStt.split(',').length;i++){
                    var idStt = jsonStatus.find(x => x.name === arrStt.split(',')[i].trim()).id
                    sttCode.push("StatusCode:"+Number(idStt))
                }
                StatusCode = sttCode.join(" OR ")
            }
            else if(arrStt != "Choose Status")
                StatusCode = "StatusCode:"+Number(jsonStatus.find(x => x.name === arrStt.trim()).id)
            //get param tengoi
            var arrName = $('#divName .multiselect.dropdown-toggle').attr('title');
            if(arrName.indexOf(",")>=0){
                for(var i=0;i<arrName.split(",").length;i++){
                    var nameCT = "\""+arrName.split(",")[i].trim()+"\""
                    arrTen.push('TenGoi:'+nameCT)
                }
                TenGoi = arrTen.join(" OR ")
            }
            else if(arrName != "Choose Name") TenGoi = "TenGoi:"+arrName

            // set params ajax
            var others = '('+StatusCode+') AND ('+TenGoi+') AND ('+UsageRange+')'
            if(regionId != ""){
                fields = others + " AND RegionCode:"+regionId
            }
            else{
                if($('.jstree-undetermined').length == 1){
                    //for regions
                    if($('#regions').val().indexOf(",")>=0){
                        var arrId = $('#regions').val().split(",");
                        fields = "RegionCode:"+arrId[0]
                        for(var i=0;i<arrId.length;i++){
                            fields += " OR RegionCode:"+arrId[i]
                        }
                        fields = others+ " AND ("+fields+")"
                        $('#titleRegion').text("Paytv Contract By Region")
                        $('#isRegion').val("regions")
                        $('#backRegion').hide()
                    }
                    // for provincces
                    else{
                        var arrId = $('#provinces').val().split(",");
                        fields = "ProvinceCode:"+arrId[0]
                        for(var i=0;i<arrId.length;i++){
                            fields += " OR ProvinceCode:"+arrId[i]
                        }
                        fields = others+ " AND ("+fields+")"
                        $('#isRegion').val("provinces")
                        $('#backRegion').hide()
                        $('#titleRegion').text("Paytv Contract By Province")
                    }
                }
                else if($('.jstree-undetermined').length > 1){
                    var arrId = $('#provinces').val().split(",");
                    fields = "ProvinceCode:"+arrId[0]
                    for(var i=0;i<arrId.length;i++){
                        fields += " OR ProvinceCode:"+arrId[i]
                    }
                    fields = others+ " AND ("+fields+")"
                    $('#isRegion').val("provinces")
                    $('#titleRegion').text("Paytv Contract By Province")
                    $('#backRegion').hide()
                }
                else{
                    $('#backRegion').hide()
                    $('#isRegion').val("regions")
                    fields = others+" AND (RegionCode:*)"
                    $('#titleRegion').text("Paytv Contract By Region")
                }
            }
            return fields
        }

        function drillDownJson(){
            $('#backRegion').hide()
            var fields = getParamFields("")
            $.ajax({
                url: "/paytv/drilldownJson?code="+fields,
                cache: false,
                success: function (dta) {
                    if(dta != "Error"){
                        // sparkline TenGoi
                        $('#tbody-sparkline').html("")
                        var tengoi = "<tr><td></td><td></td><td></td></tr>"
                        for(var i=0;i<dta.tenGoiForSparkline.length;i++){
                            tengoi+= '<tr><th href="#">'+dta.tenGoiForSparkline[i][0]+'</th><td>'+dta.tenGoiForSparkline[i][1]+'</td><td data-sparkline="'+dta.tenGoiForSparkline[i][2].join(', ')+'"/></tr>'
                        }
                        tengoi += "<tr><td></td><td></td><td></td></tr>"
                        $('#tbody-sparkline').append(tengoi)
                        doChunk();
                        // set data line status contract
                        Highcharts.chart('line-status', {
                            chart: {
                                zoomType: 'xy'
                            },

                            title: {
                                text: ''
                            },

                            colors : ['#9B59B6','#73879C','#dc5a78', '#3498DB', '#f1b53d', '#1ABB9C', '#832d1d', '#0000cc',  '#E74C3C', '#09006d', '#cccccc', '#669999', '#f2ccff', '#e6e600', '#132639', '#99cc00', '#466d6d', '#ffc6b3', '#666633', '#ffff00'],

                            xAxis: {
                                categories:  dta.monthStatus
                            },

                            yAxis: [{ // Primary yAxis
                                labels: {
                                    format: '{value}',
                                    style: {
                                        color: "#9B59B6"
                                    }
                                },
                                title: {
                                    text: 'Binh Thuong',
                                    style: {
                                        color: "#9B59B6"
                                    }
                                }
                            }, { // Secondary yAxis
                                title: {
                                    text: 'Others',
                                    style: {
                                        color: "#5A738E"
                                    }
                                },
                                labels: {
                                    format: '{value}',
                                    style: {
                                        color: "#5A738E"
                                    }
                                },
                                opposite: true
                            }],
                            tooltip: {
                                shared: true
                            },

                            series: getJsonMultiLinesColumn(dta.statusContract,dta.monthStatus,dta.keyCodeStatus)

                        });

                        Highcharts.chart('line-region', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: ''
                            },

                            plotOptions: {
                                series: {
                                    events: {
                                        legendItemClick: function () {
                                            if($('#isRegion').val() == "regions") {
                                                var regionId = this.chart.series[this.index].name.split(' ')[1]
                                                drillDrawLegendProvince(regionId);
                                            }
                                        }
                                    }
                                }
                            },

                            colors : ['#9B59B6', '#1ABB9C', '#832d1d', '#0000cc',  '#73879C ','#E74C3C','#f90', '#3498DB', '#f1b53d','#09006d', '#cccccc', '#669999', '#f2ccff', '#e6e600', '#132639', '#99cc00', '#466d6d', '#ffc6b3', '#666633', '#ffff00'],

                            yAxis: {
                                title: {
                                    text: 'Number of contracts'
                                }
                            },
                            xAxis: {
                                categories: dta.monthStatus
                            },

                            series: getJsonMultiLines(dta.provinceContract,dta.monthStatus,dta.keyProvince)

                        });

                        Highcharts.chart('sumusage-quantile', {

                            chart: {
                                type: 'boxplot'
                            },

                            title: {
                                text: ''
                            },

                            legend: {
                                enabled: false
                            },

                            xAxis: {
                                categories: dta.monthStatus
                            },

                            yAxis: {
                                title: {
                                    text: 'Observations'
                                }
                            },

                            series: [{
                                name: 'Observations',
                                color: '#f60',
                                data: dta.dtaUsageQuantile,
                                // [
                                //   [760, 801, 848, 895, 965],
                                //   [733, 853, 939, 980, 1080],
                                //   [714, 762, 817, 870, 918],
                                //   [724, 802, 806, 871, 950],
                                //   [834, 836, 864, 882, 910]],
                                tooltip: {
                                    headerFormat: '<em>{point.key}</em><br/>'
                                }
                            }]

                        });
                        Highcharts.chart('lte-quantile', {

                            chart: {
                                type: 'boxplot'
                            },

                            title: {
                                text: ''
                            },

                            legend: {
                                enabled: false
                            },

                            xAxis: {
                                categories: dta.monthStatus
                            },

                            yAxis: {
                                title: {
                                    text: 'Observations'
                                }
                            },

                            series: [{
                                name: 'Observations',
                                color:'#09006d',
                                data: dta.dtaLteQuantile,
                                // [
                                //   [760, 801, 848, 895, 965],
                                //   [733, 853, 939, 980, 1080],
                                //   [714, 762, 817, 870, 918],
                                //   [724, 802, 806, 871, 950],
                                //   [834, 836, 864, 882, 910]],
                                tooltip: {
                                    headerFormat: '<em>{point.key}</em><br/>'
                                }
                            }]

                        });
                        Highcharts.chart('usage-bar', {
                            chart: {
                                type: 'bar'
                            },
                            title: {
                                text: ''
                            },
                            xAxis: {categories: dta.monthStatus},
                            yAxis: {
                                title: {
                                    text: null
                                },
                                min:0
                            },

                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },

                            tooltip: {
                                formatter: function () {
                                    return '<b>' + this.series.name + ', month ' + this.point.category + '</b><br/>' +
                                            'Number Of Contract: ' + Highcharts.numberFormat(Math.abs(this.point.y), 0);
                                }
                            },
                            series: getDataUsage(dta)
                            /*[{
                                name: '>15min/day',
                                data: dta.range3,
                                color:'#73879C'
                            },{
                                name: '15min/day',
                                data: dta.range2,
                                color:'green'
                            },{
                                name: '5min/day',
                                data: dta.range1,
                                color:'#0000cc'
                            },
                                {
                                    name: '<0min/day',
                                    data: dta.range0,
                                    color:'#832d1d'
                                }]*/
                        });
                    }
                    else{
                        location.href = "/paytv";
                    }
                }
            });
        }

        function getDataUsage(dta){
            var rs = [], colors=['#832d1d','#0000cc','green','#73879C']
            var jsonUsage = [
                {name:"0min/day",id:dta.range0},
                {name:"5min/day", id:dta.range1},
                {name:"15min/day",id:dta.range2},
                {name:">15min/day",id:dta.range3}]
            var arrUsage = $('#divUsage .multiselect.dropdown-toggle').attr('title');
            if(arrUsage.indexOf(',')>=0){
                for(var i=arrUsage.split(',').length-1;i>=0;i--){
                    var data = jsonUsage.find(x => x.name === arrUsage.split(',')[i].trim()).id
                    rs.push({
                        name:arrUsage.split(',')[i].trim(),
                        data:data,
                        color:colors[i]
                    })
                }
            }
            else{
                if(arrUsage == "Choose Range"){
                    for(var i=3;i>=0;i--){
                        rs.push({
                            name:jsonUsage[i].name,
                            data:jsonUsage[i].id,
                            color:colors[i]
                        })
                    }
                }
                else{
                    var data = jsonUsage.find(x => x.name === arrUsage.trim()).id
                    rs.push({
                        name:arrUsage,
                        data:data,
                        color:'#73879C'
                    })
                }
            }
            return rs
        }

        function CSVToArray( strData, strDelimiter ){
            // Check to see if the delimiter is defined. If not,
            // then default to comma.
            strDelimiter = (strDelimiter || ",");

            // Create a regular expression to parse the CSV values.
            var objPattern = new RegExp(
                    (
                            // Delimiters.
                            "(\\" + strDelimiter + "|\\r?\\n|\\r|^)" +

                            // Quoted fields.
                            "(?:\"([^\"]*(?:\"\"[^\"]*)*)\"|" +

                            // Standard fields.
                            "([^\"\\" + strDelimiter + "\\r\\n]*))"
                    ),
                    "gi"
            );


            // Create an array to hold our data. Give the array
            // a default empty first row.
            var arrData = [[]];

            // Create an array to hold our individual pattern
            // matching groups.
            var arrMatches = null;


            // Keep looping over the regular expression matches
            // until we can no longer find a match.
            while (arrMatches = objPattern.exec( strData )){

                // Get the delimiter that was found.
                var strMatchedDelimiter = arrMatches[ 1 ];

                // Check to see if the given delimiter has a length
                // (is not the start of string) and if it matches
                // field delimiter. If id does not, then we know
                // that this delimiter is a row delimiter.
                if (
                        strMatchedDelimiter.length &&
                        strMatchedDelimiter !== strDelimiter
                ){

                    // Since we have reached a new row of data,
                    // add an empty row to our data array.
                    arrData.push( [] );

                }

                var strMatchedValue;

                // Now that we have our delimiter out of the way,
                // let's check to see which kind of value we
                // captured (quoted or unquoted).
                if (arrMatches[ 2 ]){

                    // We found a quoted value. When we capture
                    // this value, unescape any double quotes.
                    strMatchedValue = arrMatches[ 2 ].replace(
                            new RegExp( "\"\"", "g" ),
                            "\""
                    );

                } else {

                    // We found a non-quoted value.
                    strMatchedValue = arrMatches[ 3 ];

                }


                // Now that we have our value string, let's add
                // it to the data array.
                arrData[ arrData.length - 1 ].push( strMatchedValue );
            }

            // Return the parsed data.
            return( arrData );
        }
</script>